---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Services" description="Service de création d'identité visuelle, de maquette web, mobile et de site web centrés sur l'expérience utilisateur">
	<div class="fond-sombre">
		<section class="hero-categorie">
		  <div class="colonnes">
			<div class="colonne">
			  <h1> <u class="sous-ligne">Mentions légales</u></h1>
			</div>
		  </div>
		</section>
	  </div>
	  <section class="conteneur-article">
		<h2>Éditeur</h2>
		<p>
		  Responsable de la publication : M Lucas Lacroix<br />
		  Courriel :
		  &#98;&#111;&#110;&#106;&#111;&#117;&#114;&#64;&#108;&#117;&#99;&#97;&#115;&#108;&#97;&#99;&#114;&#111;&#105;&#120;&#46;&#99;&#111;&#109;<br />
		  Siret : 89015780300010
		</p>
		<h2>Hébergement</h2>
		<p>
		  O2switch<br />
		  222-224 Boulevard Gustave Flaubert<br>
		  63000 Clermont-Ferrand<br>
		  Courriel : support@o2switch.fr<br />
		  Site web : o2switch.fr
		</p>
		<h2>Objectif et qualité des contenus</h2>
		<p>
		  Ce site a pour objectif d’informer le grand public et les
		  professionnels. Le site s’efforce de fournir une information de
		  qualité et vérifiée, toutefois si une information semble inexacte ou
		  contient une erreur typographique, vous pouvez le signaler à
		  l’administrateur du site.
		</p>
		<h2>Propriété intellectuelle</h2>
		<p>
		  Lucas Lacroix est propriétaire exclusif de tous les droits de
		  propriété intellectuelle ou détient les droits d’usage sur tous les
		  éléments accessibles sur le site, tant sur la structure que sur les
		  textes, images, graphismes, sons, code, etc. (sauf mention contraire)
		  <br />Toute reproduction totale ou partielle du site, représentation,
		  modification, publication, adaptation totale ou partielle de ces
		  éléments, est soumise à une autorisation écrite du propriétaire.
		</p>
  
		<h2>Conditions générales de vente</h2>
		<p>Les Conditions sont proposées à chaque projet, elles sont communiquées en amont ou à la signature du devis ou contrat.
		<a href="/services">Services proposés</a>
		</p>
  
		<h2>Crédits</h2>
		<p>
		  Photo de la page «À propos» prise par @saraah_photos_
		</p>
  
		<h2>Déclaration d’accessibilité</h2>
		<p>Lucas Lacroix s’engage à rendre ses sites web et dispositifs accessibles conformément à l’article 47 de la
		  loi n°2005-102 du 11
		  février 2005. </p>
		<h3>État de conformité</h3>
		<p><strong>lucaslacroix.com</strong> est <strong>totalement</strong> conforme avec le référentiel général
		  d’amélioration de l’accessibilité (RGAA) version 4 </p>
	
		<p> Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable pour être
		  orienté vers une alternative accessible ou obtenir le contenu sous une autre forme :
		   &#98;&#111;&#110;&#106;&#111;&#117;&#114;&#64;&#108;&#117;&#99;&#97;&#115;&#108;&#97;&#99;&#114;&#111;&#105;&#120;&#46;&#99;&#111;&#109;
		</p>
  
		<h2 id="usage-cookies">Politique de confidentialité</h2>
		<p>
		  Si vous utilisez la fonctionnalité de "publication de commentaires", le site sera en mesure de traiter les données à caractère personnel suivant : nom, courriel, site web
		  <br>En dehors de ce cas, le site ne traite pas d'autres données à caractère personnel.<br><br>
  
		  L’outil de mesure d’audience que nous utilisons, Matomo, est paramétré de façon à ce que les informations
		  recueillies soient anonymisées, les cookies sont désactivés.
		  Nous sommes ainsi en conformité avec la réglementation de la RGPD, de la CNIL et exemptés d’autorisation
		  préalable. Ces données ne sont pas partagées avec des tierces parties.<br>
		  <a href="https://matomo.org/faq/general/faq_18254/" target="_blank" rel="nofollow">En savoir plus sur les
			données collectées par Matomo</a>
		</p>
	  </section>
	</div>
	<style>
		.conteneur-s h2 {
		  margin-top: 64px;
		  margin-bottom: 4px;
		}
		</style>
</Layout>