---
import LayoutArticle from "../../layouts/LayoutArticle.astro";
---

<LayoutArticle
	title="Comment réussir ses présentations PPT ?"
	metadata="8 novembre 2023 · 7 min"
	description="La maîtrise de la présentation est un atout pour mieux communiquer, inspirer, partager. Pour y parvenir, un bon cadrage et quelles règles de mise en page."
>
	<div>
		<p>
			La transmission de l'information est centrale dans l'apprentissage et la communication. Rares sont les
			organisations qui se passent du support de présentation dans leurs quotidiens. Plus pratique qu'une
			documentation Word et plus simple à réaliser qu'une vidéo, Les PowerPoints sont devenus un incontournable.
		</p>
		<p>
			Cependant, la maîtrise de l'outil ne garantit pas la réussite de l'exercice, comme le
			souligne de manière humoristique le célèbre sketch « <a href="https://www.youtube.com/watch?v=lpvgfmEU2Ck"
				target="_blank" rel="nofollow">Death by
				PowerPoint</a> » de Don McMillan. Alors, comment réussir ses présentations PowerPoints ?
		</p>
		<h2>Penser et cadrer la présentation</h2>
		<p>Avant d'ouvrir PowerPoint ou Canva ou votre outil préféré, il faut s’arrêter et se poser les questions qui
			vont vous guider dans la constitution et l'élaboration de votre présentation. Partir dans la bonne direction
			et savoir où l'on va sont des éléments déterminants sur la qualité et le temps nécessaire de préparation.
		</p>
		<h3>Ma présentation sera un succès si… </h3>
		<p>Pourquoi fait-on cette présentation ? Pour ne pas manquer sa mission principale, il est important d'écrit
			explicitement
			son ou ces objectifs. Pour vous y aider, vous pouvez utiliser ce début de phrase « Ma présentation sera un
			succès si … ».</p>
		<h3>Pour y parvenir, je dois aborder… </h3>
		<p>Une fois vos objectifs établis, il vous faut déterminer les parties de votre diaporama. À nouveau, vous
			pouvez utiliser une phrase à compléter pour les définir : « Ma présentation sera un
			succès si [Mes objectifs], pour y parvenir, il faut que j'aborde… et… »</p>
		<h3>Écrire sur papier le plan de ma présentation</h3>
		<p>Vous avez vos objectifs et les différentes parties de votre présentation, il ne reste plus qu'à les
			organiser. Créer une logique d’enchaînement, un fil conducteur.</p>
		<h3>Trouver une histoire</h3>
		<p>Une étape facultative, mais qui peut permettre de captiver dès le début votre audience. Raconter une histoire
			sur un élément commun ou du quotidien pour ouvrir votre présentation. Ce storytelling peut être utilisé
			tout au long de votre prestation comme un fil rouge.</p>
		<h2>La Structure de votre présentation</h2>
		<h3>Mettre des intertitres, des questions auquel vous répondez </h3>
		<p>Une présentation peut s'avérer longue. On peut perdre le fil et le sens de cette dernière. Pour rythmer ce
			support, l'usage des intertitres pour séparer les parties à la manière de certain film de Tarantino permet
			de les aérer et de s'approprier la structure globale du sujet.</p>
		<p>
			Axer la rédaction de ces intertitres sur des questions comme "Comment ont évolué les ventes ?" ou "Comment
			protéger une zone de travail ?" implique davantage les participants qu'une formulation neutre.</p>

		<img src="/assets/article-presentation-intertitre.webp" loading="lazy"
			alt="Des groupes de diapos avec et sans intertitre" />
		<h3>Varier les types de contenus</h3>
		<p>Une autre méthode pour pallier à la perte d'attention naturelle est la variation des contenus :</p>
		<ul class="interval-reduit">
			<li>Diagramme</li>
			<li>Schéma</li>
			<li>Image</li>
			<li>Texte</li>
			<li>Citation</li>
			<li>Vidéo</li>
			<li>Audio</li>
		</ul>
		<h3>Dynamiser votre présentation avec des quizs</h3>
		<p>Le niveau supérieur de l’implication de votre audience passe par la gamification. Elle peut prendre la forme
			d'un quiz, un jeu de rôle ou s'inspirer d'autres jeux de société. Si l'objectif de la présentation est la
			formation, l'usage de contenu varié et la répétition de notions créer un terrain favorable à la
			mémorisation. </p>
		<h2>Mise en page</h2>
		<h3>Une info par diaporama</h3>
		<img src="/assets/article-presentation-1-info.webp" loading="lazy"
			alt="Une diapo avec 6 éléments, un autre avec un texte et un graphique" />
		<p>« Faire simple » ça doit être le mot d’ordre lorsque que vous mettez en page une diapo. Il est préférable de
			réaliser 4 diapos au lieu d'une seule avec trop d'information. Les diaporamas avec trop d'éléments ont
			tendance à perdre votre audience et à complexifier le travail de compréhension des propos.</p>
		<h3>Réduire les écrit</h3>
		<img src="/assets/article-presentation-texte.webp" loading="lazy"
			alt="Un diapo avec 2 longs paragraphes, un texte concis et une image d'illustration du propos" />
		<p>Les diaporamas ne doivent pas être des prompteurs. Votre auditoire décrochera rapidement s'il faut lire des
			longs paragraphes. Essayer de vous limiter à 40 mots par diaporama. Appuierez vos écrits pas des photos ou
			des schémas pour illustrer vos propos. </p>
		<h3>Mettre en avant les éléments importants</h3>
		<img src="/assets/article-presentation-avant.webp" loading="lazy"
			alt="Une diapo avec 8 courbes, un autre avec Les 2 plus importante et des marquages" />
		<p>Une diapositive peut être rapidement chargée en informations. Ces informations n'ont pas toujours le même
			degré d’importance. Mettre en évidence des données, des mots en gras ou des points d’intérêt sur des courbes
			serviront davantage le discours et le sens de l'information.
		</p>
		<h3>Bon usage des couleurs et des formes</h3>
		<img src="/assets/article-presentation-couleur.webp" loading="lazy"
			alt="2 diapos avec 2 diagrammes, un avec des couleurs aléatoire l'autre avec des couleurs porteuses de sens" />
		<p>Les couleurs sont porteuses de sens. Il faut les utiliser pour simplifier la compréhension des informations.
			Si je dois représenter la part des partis politiques d'un parlement, pour faciliter sa lecture, j'utiliserai
			le rose pour les sociaux démocrates, le bleu pour les conservateurs et le vert pour les écologistes.</p>
		<p>Les formes, elles aussi, sont un vecteur d'information, dans le cas précédent, un parlement est bien souvent
			une chambre demi circulaire. Reprendre cette sémiologie dans sa représentation statistique est la bonne
			pratique. Le site <a href="https://datavizproject.com" target="_blank" rel="nofollow">Dataviz Project</a>
			propose différentes représentations de données, c'est une
			ressource d'inspiration importante pour optimiser les visualisations de données.</p>
		<h3>Abréviations, termes techniques et anglicismes </h3>
		<p>Nos métiers en sont chargés, les abréviations, termes propres à un secteur et les mots de la langue anglaise
			peuvent perdre une partie de l'audience. Il ne faut jamais partir du principe où tout le monde y est
			familier. Il faut s'imaginer avoir vos grands-parent ou votre neuve ou nièces dans votre auditoire.</p>
		<p>Les "stakeholders" peuvent devenir "parties prenantes", les "KPI" devenir des "indicateur clé de
			performance", les présentations n'en seront que plus accessible et agréable pour tous.</p>
		<h3>Quelques règles de Style</h3>
		<p>L’aspect d'un document compte. L'effet "Esthétique fonctionnel" qui consiste à ce que les choses esthétiques
			nous semble fonctionner mieux n'est pas à négliger. L'enjeu de l'apparence du support de présentation est de
			garantir la meilleure lisibilité et de transmettre un univers graphique singulier. Pour remporter cet enjeu,
			voici les règles à suivre : </p>
		<ul class="interval-reduit">
			<li>Les textes, toujours sur des fonds unis</li>
			<li>Une palette de couleurs réduite (3 couleurs max)</li>
			<li>Mettre son logo seulement sur la première et dernière diapo</li>
			<li>Aligner les éléments d'une diapo</li>
			<li>Ferrer ses textes à gauche</li>
		</ul>
		<img src="/assets/article-presentation-apparence.webp" loading="lazy"
			alt="2 diapos une avec un style uni et aligné l'autre non" />
	   
	</div>
</LayoutArticle>
