---
import LayoutArticle from "../../layouts/LayoutArticle.astro";
---

<LayoutArticle
	title="Comment gérer, le « j'aime / j'aime pas »"
	metadata="8 août 2023 · 6 min"
	description="Les retours sont courants dans les projets de conception. Elles peut-être source de points bloquants dans un projet. Comment les anticiper, répondre et tirer parti de ces retours ?"
>
	<div>
		<p>
			"J'aime pas le bleu là sur la maquette de l'application", "Je ne suis pas fan de cette image". Ce sont des
			retours courant dans les projets de conception. Elles le sont également dans la vie courante, avec le choix
			d'un vêtement ou d'une décoration. Comment l'anticiper, répondre et tirer parti de ces retours ?
		</p>
		<h2>Les biais de la perception</h2>
		<p>Comment s'attaquer à cette problématique sans aborder les nombreux biais, ceux qui nous influencent, nous
			donne une perception du réel altéré ? Concernant la perception, les principaux sont : </p>
		<ul>
			<li><b>L'effet Semmelweis</b> Est une attitude à rejeter des informations parce qu'elles vont à l'encontre
				de
				normes ou croyances.</li>
			<li><b>La perception sélective</b>, une attitude à mettre en avant et à retenir seulement les informations
				qui
				confortent notre pensée.</li>
			<li><b>Les stéréotypes</b>, les images préconçues sur des groupes de personnes. Exemple : Les femmes
				préfèrent les designs roses. </li>
			<li><b>L'aversion au changement</b> Une attitude avec laquelle l'on va rejeter une nouveauté, fut-elle
				meilleure. Cette attitude peut avoir des multiples sources : Peur du changement, perte de confort pour
				s'adapter aux évolutions ou attachement émotionnel à l'existant.</li>
		</ul>

		<h2>La coconception</h2>
		<p>Pour s'assurer de l'adoption d'une réalisation, on peut s’appuyer sur la coconception. Impliquer des
			utilisateurs et des parties prenantes à la réalisation permet de prendre en compte leurs avis très tôt dans
			le
			processus créatif. C'est aussi recourir aux <b>biais Ikea</b>. Il consiste à davantage apprécier un
			produit du fait que l'on y a contribué </p>
		<p> La coconception, c'est aussi sortir des biais du concepteur.</p>
		<img src="/assets/article-jaime-coconception.webp" loading="lazy"
			alt="Schéma de cercle de vision et à l'intersection le cadre actée en coconception" />

		<h2>Les livrables intermédiaires</h2>
		<p>Le recours aux multiples livrables au cours de projet est un bon moyen de limiter les sorties de pistes.
			Plus l'on
			corrige tôt la direction d'un projet, plus il est simple de répondre à l'attente des commanditaires.</p>
		<p>Si on vous commande la réalisation d'un court métrage. Les retours recueillis lors des présentations du
			synopsis, du scénario et de l'animatique, vous permettront de recentrer le sujet, supprimer certaines
			parties au profit d'autres. Si vous n'adopter pas cette approche itérative, après la présentation de votre
			premier montage, il vous sera plus difficile de
			modifier l'angle ou des séquences entières de votre métrage.</p>
		<img src="/assets/article-jaime-livrable.webp" loading="lazy"
			alt="Schéma linaire de la conception d'un film : synopsis, scénario, animatique, film" />
		<h2>La présentation des réalisations</h2>
		<p>
			Avant de présenter vos réalisations, il faut commencer par vos réflexions. Comment avez-vous abordé la
			problématique, quelles pistes avez-vous prises et écartées et pourquoi ? Cela met en avant la réflexion et
			les points forts de la création. Ce Storytelling permet également d'obtenir des retours plus précis et
			qualifiés.
		</p>
		<h2>Acceptez les retours</h2>
		<p>Ils ne vont pas toujours dans votre sens. Cela remet en question un travail et des choix dont vous êtes sûr
			de la direction. Ce sont parfois des heures de travail mis à l'arrêt ou de côté. Pourtant, c'est une chance,
			celle de pouvoir rebondir, celle d'avoir eu un regard différent sur le sujet, d'aller plus loin dans la
			problématique, d'explorer de nouvelles pistes.</p>
		<p>Répondre argument sur argument n'est pas toujours la bonne stratégie, elle favorise <b>l'effet boomerang</b>.
			Plus
			vous allez mettre en avant vos explications, moins ces derniers auront de chances d'être accepté par les
			autres.
		</p>
		<h2>Convaincre</h2>
		<p>Pour palier à cet effet, le <b>Nudge</b> est une méthode d'influence efficace. Elle consiste non pas à donner
			une action ou un ordre à effectuer mais une information. Si l'objet de la discussion est la lisibilité
			d'un texte. L'injonction serait "Il faut agrandir le texte de 2 pixels et changer sa couleur pour un gris
			plus
			foncée". <br>
			Le même propos en Nudge "Certains utilisateurs auront du mal à voir ce texte et ne vont pas
			le lire, du fait de sa taille et de son contraste."<br><br>D'autres biais cognitifs sont souvent utilisés en
			rhétorique :</p>
		<ul>
			<li>La <b>figure d'autorité</b>, citer des études, des référentiels pour appuyer vos arguments. En plus
				d’appuyer
				vos travaux avec ces éléments, l'usage de la recherche secondaire permet d’améliorer les créations en
				s’appuyant sur de nombreux projet et recherches.</li>
			<li>Le <b>biais de rareté</b> : Créer une perception de rareté, d'unicité d'un produit.</li>
			<li><b>Engagement et cohérence</b> : Encourager les individus à prendre un petit engagement initial envers
				une
				idée ou un produit. Puis s'appuyer sur cet événement pour obtenir un engagement plus important par la
				suite.</li>

			<li><b>Récompenses et incitations</b> : Offrir des récompenses, des avantages ou des incitations pour
				encourager une action ou une décision spécifique.</li>
			<li>
				<b>Preuve sociale</b> : Mettre en avant le fait que d'autres personnes ont fait le même choix ou ont
				adopté
				une certaine action, cela influence les individus à suivre cette tendance.
			</li>
			<li>
				<b>Contraste</b> : Placer une option moins attrayante à côté de l'option visée pour créer un
				contraste. Cela a pour effet de rendre l'option souhaitée plus attractive.
			</li>
		</ul>

		<h2>L'étude de perception</h2>
		<p>Pour trancher des sujets délicats, comme le choix de l'emblème de l'équipe de France olympique, l'étude de
			perception et un outil intéressant pour s'assurer de l’adhésion de la conception. Il peut permettre
			également d'analyser s'il porte bien les valeurs souhaitées et s'il répond au cahier des charges.
		</p>
		<figure>
			<img src="/assets/article-etude-de-perception.webp" loading="lazy"
				alt="Étude de perception sur l’emblème de l'équipe de France olympique" />
			<figcaption>Enquête quantitative sur le nouvel emblème de l’Équipe de France olympique et paralympique -
				Harris Interactive</figcaption>
		</figure>
		<p>Les études de perception peuvent également se reposer sur des échelles scientifiques comme le meCUE ou
			l'attrakdiff.</p>

		<h2>Au-delà des opinions</h2>
		<p>Maitriser le j'aime / j'aime pas, c'est réussir à dépasser les opinions, grâce à une approche méthodologique
			de coconception et d'itération. Prendre en compte les différents biais lors de la conception. Se doter d'une
			rhétorique pour les présentations, pour promouvoir les positions fondées sur la recherche et centrés sur les
			besoins des utilisateurs.
		</p></div>
</LayoutArticle>
