---
import LayoutArticle from "../../layouts/LayoutArticle.astro";
---

<LayoutArticle
	title="L'audit UX"
	metadata="20 janvier 2023 · 5 min"
	description="Pour étest utilisateués Heurs"
>
	<div>
		here
	</div>
</LayoutArticle>
