---
import LayoutArticle from "../../layouts/LayoutArticle.astro";
import Sommaire from "../../components/Sommaire.astro";
---

<LayoutArticle
	title="CRO, Comment optimiser la convertion"
	metadata="8 mai 2024 · 8 min"
	description="Quand on pense design, on pense interfaces, composants, couleurs et formes mais jamais contenu ! Et pourtant le contenu est essentiel dans nos interfaces !"
>
<p>intro</p>
<Sommaire
	liste={[
		["Qu'est-ce que le Langage ?", "#1", "n2"],
		["Identifier les sources d'incompréhension", "#2.1", "n3"],
		["C'est quoi L'UX writing ?", "#3", "n2"],
		["Facile à lire et à comprendre", "#8", "n2"],
		["Comment évaluer les écrits", "#9", "n2"],
	]}
/>
<h2>La CRO, c'est quoi ?</h2>
<h2>Les objectifs</h2>
<p>
	Aquérir d’avantage d’acheteur plus Aquisition? Vendre davantage FidéliserSes
</p>
<h2>Ses zones d’interventions</h2>
<h2>Méthodes et approches</h2>
<h3>Usages de biais</h3>
<h3>Performances</h3>
<h3>A/b test d’hypothèses</h3>
<h3>Personalisation</h3>
<p>Créer des tunnels de conversion, landing page, afficher des page et des fonction pour porgresser vers l'acte d'achat (facette, pas editioral produit) </p>
<h3>inspirer</h3>
<h3>offres</h3>
<p>bandeau d'information, section et produit, promo, flags (edition limité/web)</p>
<h3>Cta insitatifs</h3>
<h3>fidéliser</h3>
<p>offre (prime, cdiscount, aderant fnac), email</p>
<h2>Bonnes pratiques</h2>
<h3>Appuyer les bénéfices</h3>
<p>
	avantages conurentiel, ce que le produit résout, intéressante, rse, exemple
	d’usage, promotion, show don't tell
</p>
<h3>Réduire les frictions et les incertitudes</h3>
<p> Créer des bloc pour évincer les expectation (fausse faq sur hp tidal), réassurance
	donner des détails, fournir un guide des tailles simples et complets,
	réassurance sur les retours, la livraison, proposer l’ chat en physique,
	fournir du support : faq, email, formulaire
</p>
<h3>Ajouter de la preuve sociale</h3>
<p>
	(avis indépendants, recommandations, récompences, photos et vidéos d’usagers, citation d’articles
	d’experts)
</p>
</LayoutArticle>