---
import LayoutArticle from "../../layouts/LayoutArticle.astro";
---

<LayoutArticle
	title="Écoconception, comment concevoir le web de demain ?"
	metadata="8 juillet 2023 · 8 min"
	description="Comprendre l'impact du numérique pour mieux concevoir et s'engager dans un web responsable et plus durable"
>
	<div>
		<p>
			Notre monde change, alors notre manière de concevoir aussi. Le web a
			grandi avec les améliorations techniques, qui ont régi ses
			évolutions et nos pratiques. Aujourd’hui, cette limite n'est plus
			technique, mais écologique. Le numérique est responsable de 4% des
			émissions de gaz à effet de serre. Cette donnée omet de préciser la
			création de déchets, l'utilisation de ressources, matérielles et
			énergétiques. <br />Concevoir le Web de demain, c'est travailler à
			réduire ses externalités négatives sur la planète. C'est aussi une
			opportunité de repenser notre approche de la conception.
		</p>
		<h2>Le web d'hier à Aujourd'hui</h2>
		<p>
			Le web, c'est génial, on peut avoir accès à presque toutes les
			informations en quelques clics. Depuis 1990 et le laboratoire du
			CERN, le web a beaucoup évolué. Les sites web sont de plus en plus
			sophistiqués : contenu multimédia, images, vidéos, éléments
			interactifs, gestion de données, personnalisations, mesures
			d’audiences et traçages publicitaires.<br />
			 Dans les années 90, le fonctionnement du web se résumait à l'envoi
			du serveur d'une page web à l'utilisateur. De nos jours, ce système
			s'est alourdi : le serveur confectionne une page en fonction de nos
			usages et de nos données, nous renvoie une page avec de nombreux
			contenus et fonctionnalités qui dialoguent en permanence avec
			d'autres serveurs.
		</p>
		<div class="colonnes">
			<figure style="margin-right: 16px;">
				<img
					src="/assets/premiere-page-web.webp"
					loading="lazy"
					alt=""
				/>
				<figcaption>
					Première page web en 1989<br />0.04 Mo, 52 éléments, 2
					requêtes
				</figcaption>
			</figure>
			<figure>
				<img src="/assets/page-20.webp" loading="lazy" alt="" />
				<figcaption>
					Page web en 2023<br />3.141 Mo, 2560 éléments, 120 requêtes
				</figcaption>
			</figure>
		</div>
		<h2>Pourquoi adopter cette démarche</h2>
		<ul class="interval-reduit">
			<li>Un web plus rapide</li>
			<li>Des parcours d’utilisations optimisés</li>
			<li>Plus de facilité à maintenir et faire évoluer le site web</li>
			<li>Limite les coûts et le temps de production</li>
		</ul>
		<h2>L'écoconception</h2>
		<p>
			Pour aborder l'écoconception d'un produit, on utilise <b
				>l'Analyse du Cycle de Vie</b
			> du produit. Ce cycle se compose de 6 étapes : l'extraction des
			ressources, la fabrication, le transport, la distribution, l'usage
			et la fin de vie. Cette dernière étape peut être cyclique comme avec
			le réemploie, le reconditionnement, le recyclage ou non cyclique
			comme de décyclage, l’incinération ou la création de déchets
			sauvages.
		</p>
		<img
			src="/assets/schema-analyse-cycle-vie.webp"
			loading="lazy"
			alt="Schéma circulaire d'analyse de cycle de vie d'un produit"
		/>
		<p>
			L'écoconception, c'est penser à <b>réduire les impacts</b>,
			énergétiques, en ressources, en émissions CO2, sur le vivant et
			l’environnement <b>à chaque étape</b> de la vie du produit.
		</p>
		<h2>Quel sont les impacts du numérique en France ?</h2>
		<p>
			On distingue 2 parties différentes, la fabrication et l'utilisation.
			Cette dernière comprend principalement l’énergie nécessaire au
			fonctionnement de l'appareil de l'utilisateur puis le réseau (4g,
			5g, wifi) et le fonctionnement des serveurs.
		</p>
		<div class="conteneur-table">
			<table
				aria-label="Tableau présentant l'impact de la fabrication et le l'usage du numérique"
			>
				<thead>
					<td></td>
					<th>Énergie</th>
					<th>Gaz à effet de serre</th>
					<th>Eau</th>
					<th>Ressources</th>
				</thead>
				<tbody>
					<tr>
						<td class="b"> Fabrication</td>
						<td>41 %</td>
						<td class="rouge">83 %</td>
						<td class="rouge">88 %</td>
						<td class="rouge">100 %</td>
					</tr>
					<tr>
						<td class="b"> Utilisation</td>
						<td class="rouge">59 %</td>
						<td>17 %</td>
						<td>12 %</td>
						<td>0 %</td>
					</tr>
				</tbody>
			</table>
		</div>
		<legend
			>Répartition en fonction de l’étape du cycle de vie des impacts du
			numérique en France en 2020.<br />
			 Source <a
				href="https://www.greenit.fr/impacts-environnementaux-du-numerique-en-france/"
				target="_blank"
				rel="nofollow">Étude « iNum »</a
			>
		</legend>
		<p>
			Pour réduire l'impact du numérique sur la partie fabrication, il
			faut agir sur la réduction du nombre d’appareils et favoriser leurs
			longévités. Cela peut se traduire par penser la conception d'un site
			ou d'une app pour des appareils qui ont déjà 5 ans. Ou s'assurer
			d'une expérience de qualité similaire sur bureau et sur mobile pour
			ne pas obliger les utilisateurs à augmenter leurs parcs d’appareils
			en achetant un PC ou une tablette en complément de leur téléphone.
		</p>
		<p>
			Pour la partie usage, qui est fortement lié à la consommation
			d’énergie, il faut produire des pages et des services qui vont
			nécessiter moins de puissance pour les appareils des utilisateurs.
			Limiter les animations, les vidéos, traceurs, les images
			volumineuses, les pages complexes.
		</p>
		<h2>Comment écoconcevoir un site ou un service web</h2>
		<h3>L'économie de la fonctionnalité</h3>
		<p>
			C'est par l'économie des fonctionnalités qu'il faut entamer un site
			web écoconçu. Est-ce que mon site ou service en ligne est utile,
			quelles seront ces fonctionnalités essentielles et les données
			principales qu'il va recueillir ? Lesquelles seront superflues ?
		</p>
		<img
			src="/assets/fonctionnalite-contenu.webp"
			loading="lazy"
			alt="Arbre de décision sur le développement ou non d'une fonctionnalité"
		/>
		<p>
			Si mon projet est d'ouvrir une bibliothèque de livre audio en ligne,
			mes fonctionnalités essentielles pourront être :
		</p>
		<ul class="interval-reduit">
			<li>Consulter les fiches des ouvrages</li>
			<li>Effectuer des recherches</li>
			<li>Lire ou télécharger un audio</li>
		</ul>
		<p>Les fonctionnalités superflues peuvent être :</p>
		<ul class="interval-reduit">
			<li>Un widget de partage sur les réseaux sociaux</li>
			<li>L'espace compte utilisateur</li>
			<li>Le système de notation/commentaire</li>
		</ul>
		<p>
			L'économie de fonctionnalité et de contenu s’inscrit dans un
			parcours d'utilisation optimisé qui se concentre sur la question du
			besoin essentiel de l'utilisateur. Ce principe est également une
			recommandation de l'incontournable designer Dieter Rams.
		</p>
		<blockquote>Moins c'est mieux</blockquote><cite>Dieter Rams</cite>
		<h3>Bonnes pratiques</h3>
		<ul>
			<li>
				Ne pas mettre de pages infinies, comme le fil d'actu Instagram,
				LinkedIn. En règle générale, il faut proscrire tous éléments
				relatifs à l'économie de l'attention
			</li>
			<li>
				Ne pas mettre de vidéo en lecture automatique ou qui s’enchaîne
				les une après les autres.
			</li>
			<li>
				Ajouter l’attribut <code>lazy-loading</code> aux images et aux
				éléments intégrés, cela permet de ne pas télécharger les
				éléments d'une page qui ne sont pas affichés à l'écran.
			</li>
		</ul>
		<h3>Stratégie de Design</h3>
		<p>
			En adoptant l'approche mobile first (penser la conception mobile en
			premier), les maquettes produites sont moins complexes et vont à
			l'essentiel. C'est aussi une méthode pour s'assurer d'une meilleure
			adaptation des sites aux diverses tailles d'écran des utilisateurs.
		</p>
		<p>
			Pour simplifier une page, on peut aussi utiliser la méthode CORSE :
			Cacher, Organiser, Réduire, Standardiser, Éliminer.
		</p>
		<h3>Optimisations des images</h3>
		<p>
			Comment réduire le poids d'une page sans parler des images ? Les
			images représentent souvent une grande partie du poids des pages.
			Pour les optimiser, on peut déjà se poser la question de leurs
			utilités puis celle de leurs formats. Les 3 formats d'images de
			l'écoconception sont le le WebP, l'Avif et le Svg.
		</p>
		<img
			src="/assets/article-eco-svgwebp.webp"
			loading="lazy"
			alt="images classé par format recommandé"
		/>

		<ul>
			<li>
				Le <b>SVG</b> s'utilise pour les illustrations et des icônes
				simples faites de vecteurs (pas de pixel, mais seulement des
				courbes). Très léger, c'est le seul format vectoriel pour le
				web. Pour optimiser davantage ce petit fichier, <a
					href="https://svgomg.net/"
					target="_blank"
					rel="nofollow">Svg OMG</a
				> retire certaine partie pas utile au rendu de l'image.
			</li>
			<li>
				<b>Le WebP</b> pour toutes les autres images comme les photos,
				les illustrations avec beaucoup de vecteurs. Ce format remplace
				les formats jpg et png, il est plus léger d'en moyenne 30% pour
				une même qualité. Le site <a
					href="https://squoosh.app/"
					target="_blank"
					rel="nofollow">Squoosh</a
				> permet de convertir et de réduire les images en Webp.
			</li>
			<li>
				<b>L'Avif</b> sera le successeur du Webp. En moyenne, il est 50%
				plus léger qu'un jpg pour la même qualité. Si ce format n'a pas
				éclipser le WebP c'est dû à sa sortie relativement récente. En janvier 2024, Edge, le navigateur de microsoft est un des derniers navigateurs principaux à l'adopter.
			</li>
		</ul>
		<p>
			Une page doit être en dessous de 1 Mo avec l'ensemble des images qui
			la constituent. Une grande image ne devrait pas dépasser les 320 Ko.
		</p>
		<h3>Les requêtes</h3>
		<p>
			Mais ques-ce qu'une requête web ?<br />
			 C'est une demande d'information, c'est récupérer une image, une
			typographie et transmettre des données de contenu ou d'utilisation.
			Elles ne sont pas visibles, pour les analyser, il faut ouvrir
			l'inspecteur de code de votre navigateur et ouvrir l'onglet
			"Réseaux". Elles sont parfois très nombreuses et ralentissent le
			chargement des pages. Elles doivent être en dessous de 40 par page.
		</p>
		<h2>Vérifier l'écoconception d'un site</h2>
		<p>
			Il existe bon nombre d’outils pour auditer l'écoconception d'une
			page web. Un des plus visuels est <a
				href="https://www.ecoindex.fr/"
				target="_blank"
				rel="nofollow">Eco-index</a
			>, il attribue un score sous forme de lettre et positionne la page
			web sur des matrices pour évaluer sont poids, la quantité de
			requête, la complexité de pages en fonction de la moyenne et d'un
			objectif cible. <br />L'outil <a
				href="https://kastor.green/"
				target="_blank"
				rel="nofollow">Kastor Green</a
			>, quant à lui, donne des pistes d'améliorations pour les pages
			analysées.
		</p>
		<h2>S'inspirer</h2>
		<p>
			Un des freins à l'adoption de l'écoconception et l’hypothèse qu'un
			site web ecoconçu n'est pas esthétique. Le site
			<a href="https://lowwwcarbon.com/" target="_blank" rel="nofollow"
				>Lowwwcarbon</a
			> répertorie ces sites éconconçu, pour beaucoup, ils sont singuliers
			et visuellement très agréables. C'est aussi une référence pour
			s'orienter et penser à écoconçevoir le futur du web.
		</p>
		<p>
			Pour aller plus loin sur le sujet, il existe un référentiel édité
			par l'état, le <a
				href="https://ecoresponsable.numerique.gouv.fr/publications/referentiel-general-ecoconception/"
				target="_blank"
				rel="nofollow">RGESN</a
			> et la liste des
			<a
				href="https://github.com/cnumr/best-practices"
				target="_blank"
				rel="nofollow">115 bonnes pratiques</a
			>
			 rédigé par l’association Green IT.
		</p>
	</div>
</LayoutArticle>
