---
import Layout from "../../layouts/Layout.astro";
---

<Layout
	title="Articles de design interactif et expérientiel"
	description="Articles, notes, méthodes, cultures et retours d'expérience sur le design d'interface et d'expérience"
>
	<div class="fond-sombre">
		<section class="hero-categorie">
			<div class="colonnes">
				<div class="colonne">
					<h1><u class="sous-ligne">Articles</u></h1>
				</div>
				<div class="colonne">
					<p>
						Articles, notes, méthodes, cultures et retours
						d'expérience sur le design d'interface et d'expérience
						utilisateur. Les sujets sont mis à jour en fonction des
						nouveautés et des retours
					</p>
				</div>
			</div>
		</section>
	</div>
	<section>
		<a href="./ux-writing-ecrire-pour-etre-compris">
			<div class="articlebrouillon">
				<p>UX Writing, écrire pour être compris</p>
				<p class="tag">Brouillon</p>
			</div>
		</a>

		<div class="carte-horizontale">
			<a href="./comment-reussir-ses-presentations">
				<img
					src="/assets/miniature-article-presentation.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>Comment réussir ses présentations ?</h2>
					<p>
						La maîtrise de la présentation est un atout pour mieux
						communiquer, inspirer, partager. <br />Pour y parvenir,
						un bon cadrage et quelles règles de mise en page.
					</p>
					<p class="info">
						8 novembre 2023 · 7 min · communication, méthode
					</p>
				</div>
			</a>
			<a href="./systeme-de-design">
				<img
					src="/assets/miniature-article-system-de-design.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>Les Systèmes de design</h2>
					<p>
						Les systèmes de design sont devenus un élément
						incontournable pour la conception de produits numérique
						comme physique. De la signalétique routière aux
						applications, ils font partie de notre quotidien.
					</p>
					<p class="info">
						8 septembre 2023 · 4 min · Interfaces, structure
					</p>
				</div>
			</a>
			<a href="./comment-gerer-le-jaime-jaime-pas">
				<img
					src="/assets/miniature-article-jaime.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>Comment gérer, le "j'aime / j'aime pas" ?</h2>
					<p>
						Les retours sont courants dans les projets de
						conception. Elles peut-être source de points bloquants
						dans un projet. Comment les anticiper, répondre et tirer
						parti de ces retours ?
					</p>
					<p class="info">
						8 août 2023 · 6 min · méthode, gestion de projet
					</p>
				</div>
			</a>
			<a href="./ecoconception-comment-concevoir-le-web-de-demain">
				<img
					src="/assets/miniature-article-eco.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>Écoconception, comment concevoir le web de demain ?</h2>
					<p>
						Comprendre l'impact du numérique pour mieux concevoir et
						s'engager dans un web responsable et plus durable
					</p>
					<p class="info">
						8 juillet 2023 · 8 min · écoconception, méthode,
						optimisation
					</p>
				</div>
			</a>
			<a href="./les-metiers-de-la-conception-numerique">
				<img
					src="/assets/miniature-article-metier.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>Les métiers de la conception numérique</h2>
					<p>
						S'il vous prend de lire les offres de poste en design,
						vous allez y dénombrer une variété d'intitulés, beaucoup
						d'anglicismes. Que se cache-t-il dernière, comment à
						évoluer l’organisation des équipes de design ?
					</p>
					<p class="info">
						8 juin 2023 · 4 min · Métier, Organisation
					</p>
				</div>
			</a>
			<a href="./accessibilite-comment-concevoir-pour-tous">
				<img
					src="/assets/miniature-article-a11y.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>Accessibilité, comment concevoir pour tous</h2>
					<p>
						Qu’est-ce qu'une réalisation accessible, les handicaps,
						les règles à prendre en compte, s'organiser pour piloter
						la mise en conformité
					</p>
					<p class="info">
						8 mai 2023 · 15 min · Accessibilité, Légal, Organisation
					</p>
				</div>
			</a>
			<a href="./differences-entre-ux-ui">
				<img
					src="/assets/miniature-article-ux-ui.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>
						Les différences entre le design d'interface et
						d'expérience
					</h2>
					<p>
						La frontière entre ces 2 disciplines de design est
						parfois abstraite et confuse, l’occasion d'y voir un peu
						plus clair et d'y comprendre leurs fondamentaux
					</p>
					<p class="info">
						20 avril 2023 · 6 min · Organisation, Culture
					</p>
				</div>
			</a>
			<a href="./audit-ux">
				<img
					src="/assets/miniature-article-audit-ux.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>L'audit UX</h2>
					<p>
						Comment évaluer la conception d'une interface, quels
						sont les critères à prendre en compte pour mener cette
						évaluation
					</p>
					<p class="info">
						20 janvier 2023 · 5 min · Méthode, Audit, Utilisabilité
					</p>
				</div>
			</a>
			<a href="./la-recherche-ux">
				<img
					src="/assets/miniature-article-recherche-ux.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>La recherche UX</h2>
					<p>
						Sans recherche UX, les prises de décision seraient
						faites arbitrairement et auraient de grands risques de
						manquer leurs cibles et objectifs
					</p>
					<p class="info">
						20 octobre 2022 · 6 min · Recherche UX, Méthode, données
					</p>
				</div>
			</a>
			<a href="./le-processus-ui">
				<img
					src="/assets/miniature-article-design-ui-process.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>Le processus UI</h2>
					<p>
						Comment passer du CDC ou de la recherche UX aux
						maquettes prête à être intégré par les développeurs
					</p>
					<p class="info">
						20 septembre 2022 · 4 min · interface, Méthode, UI
						design
					</p>
				</div>
			</a>
			<a href="./le-design-thinking">
				<img
					src="/assets/miniature-article-design-thinking.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>Le Design Thinking</h2>
					<p>
						Le Design Thinking est une méthodologie centré
						utilisateur pour créer des dispositifs innovants
					</p>
					<p class="info">
						20 août 2022 · 2 min · Méthode, UX, Product
					</p>
				</div>
			</a>
			<a href="./le-design-emotionnel">
				<img
					src="/assets/miniature-article-design-emotionnel.webp"
					loading="lazy"
					alt=""
				/>
				<div>
					<h2>Le design émotionnel</h2>
					<p>
						Que ce que le design émotionnel, comment
						fonctionne-t-il, quels sont ces bénéfices et comment
						l'appliquer à nos produits et services
					</p>
					<p class="info">20 juillet 2022 · 3 min · UI, UX</p>
				</div>
			</a>
		</div>
	</section>
	<style>
		.articlebrouillon {
			display: flex;
			gap: 8px;
			align-items: center;
		}
		.tag {
			background-color: #c8daea;
			color: #0d4764;
			padding: 2px 9px;
			border-radius: 18px;
			font-size:14px;
		}
		@media (prefers-color-scheme: dark) {
			.tag {
			background-color: #0d4764;
			color: #c8daea;
		}
		}
	</style>
</Layout>
