---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Expertise from '../../components/Expertise.astro';
---

<Layout title="Welcome to Astro.">
	<div class="fond-sombre">
		<section class="presentation">
		  <h1>Lucas Lacroix <div class="sous-titre"><u class="sous-ligne">Designer</u> d'expériences utilisateurs</div></h1>
		</section>
	  </div>
		<section>
		  <div class="titre-remontee">
			<h2 class="projet">Articles</h2>
			<a href="/articles" class="pro pour-bureau">Voir tous les articles</a>
		  </div>
		  <div class="carte-verticale">
			<a href="articles/differences-entre-ux-ui">
			  <img src="~assets/miniature-article-ux-ui.webp" alt="">
			  <div>
				<h3>Les différences entre le design d'interface et d'expérience</h3>
				<p>La frontière entre ces 2 disciplines de design est parfois abstraite et confuse, l’occasion d'y voir un peu
				  plus claire et d'y comprendre leurs fondamentaux</p>
				<p class="info">20 avril 2023 · 6 min · Organisation, Culture</p>
			  </div>
			</a>
			<a href="articles/comment-gerer-le-jaime-jaime-pas">
			  <img src="~assets/miniature-article-jaime.webp" loading="lazy" alt="">
			  <div>
				<h3>Comment gérer, le "j'aime / j'aime pas" ?</h3>
				<p>Les retours sont courant dans les projets de conception. Elles peut-être source de points bloquants dans un
				  projet. Comment les anticiper, répondre et tirer parti de ces retours ?</p>
				<p class="info">8 août 2023 · 6 min · méthode, gestion de projet </p>
			  </div>
			</a>
			<a href="articles/accessibilite-comment-concevoir-pour-tous">
			  <img src="~assets/miniature-article-a11y.webp" loading="lazy" alt="">
			  <div>
				<h3>Accessibilité, comment concevoir pour tous</h3>
				<p>Qu’est-ce qu'une réalisation accessible, les handicaps, les règles à prendre en compte, s'organiser pour
				  piloter la mise en conformité</p>
				<p class="info">8 mai 2023 · 15 min · Accessibilité, Légal, Organisation</p>
			  </div>
			</a>
		  </div>
		  <a href="/articles" class="lien-fleche pour-mobile">Voir tous les articles</a>
		</section>
		<section>
		  <div class="titre-remontee">
			<h2 class="projet">Projets</h2>
			<a href="/projets" class="pro pour-bureau">Voir tous les projets</a>
		  </div>
		  <div class="carte-verticale">
			<a href="projets/happy-dreche">
			  <img src="~assets/projet-happydreche.svg" loading="lazy" alt="" />
			  <div>
				<h3>Happy Drêche</h3>
				<p>
				  Maquette et site Wordpress pour une association éco-responsable
				</p>
			  </div>
			</a>
			<a href="/projets/le-fossile-magique/">
			  <img src="~assets/projet-lefossilemagique.svg" loading="lazy" alt="" />
			  <div>
				<h3>Le Fossile Magique</h3>
				<p>
				  Le serious game de la Galerie de Paléontologie de Paris
				</p>
			  </div>
			</a>
			<a href="/projets/ressources/">
			  <img src="~assets/projet-ressources.svg" loading="lazy" alt="" />
			  <div>
				<h3>Ressources DGI</h3>
				<p>Site des Ressources en design graphique et d'interaction regroupant des outils, ressources et sites
				  d'inspiration et de documentation</p>
			  </div>
			</a>
		  </div><a href="/projets" class="lien-fleche pour-mobile">Voir tous les projets</a>
		</section>
		<Expertise />
</Layout>