---
import LayoutArticle from "../../layouts/LayoutArticle.astro";
---

<LayoutArticle
	title="Le Design Thinking"
	metadata="20 août 2022 · 2 min"
	description="S'il est une méthodologie qui traverse les décennies sans prendre une ride, c'est bien le design thinking ! Adopté dans les années 1980, le design thinking est une méthode qui allie des phases de divergence, de convergence, des ateliers d'alignement"
>
<p> S'il est une méthodologie qui traverse les décennies sans prendre une ride, c'est bien le design
	thinking ! Adopté dans les années 1980, le design thinking est une méthode qui allie des phases
	de divergence, de convergence, des ateliers d'alignement, mais surtout une démarche centrée
	utilisateur. Son but, aller plus vite, plus loin, mais surtout dans la bonne direction !
</p>
<h2>Pourquoi utiliser cette méthode ?</h2>
<p>
	Un des objectifs de cette méthode et de trouver des solutions innovantes tout en réduisant les
	incertitudes. Un bon projet design est défini à la rencontre de ces 3 piliers : la viabilité
	économique, la désirabilité du produit auprès du public cible et sa faisabilité technique.
</p>
<img src="/assets/schema-3-pilier.webp" loading="lazy" alt="schéma des piliers du design thinking" />
<h2>Comment fonctionne un projet design Thinking ?</h2>
<p>Le design thinking est une méthode composée de 5 étapes :
<ul>
	<li><b>L'immersion</b>, consiste à se
		mettre à la place de l'utilisateur, comprendre ses besoins, ses problèmes</li>
	<li><b>L'analyse de l'exploration</b>, consiste à trier et qualifier les insights de la phase d'exploration
	</li>
	<li><b>l'idéation</b>, trouver des idées à partir de la synthèse de l'exploration</li>
	<li><b>Prototypage</b>, reprendre les sketchs et idées pour les rendre plus tangibles et testable</li>
	<li><b>L'implémentation</b>, tester le prototypage avec des utilisateurs,<br> prendre en compte leurs
		retours et
		améliorer le projet</li>
</ul>
</p>
<p>
	Ces 5 étapes prennent souvent la forme de ce qu'on appelle le <b>double diamant</b> :
</p>
<img src="/assets/double-diamant.webp" loading="lazy" alt="schéma du double diamant" />

</LayoutArticle>
