---
import LayoutArticle from "../../layouts/LayoutArticle.astro";
---

<LayoutArticle
	title="Le Design émotionnel"
	metadata="220 juillet 2022 · 3 min"
	description="Si nous étions rationnels, une bonne expérience se résumerait à design utile et utilisable. Toutefois, nous sommes des humains et donc fondamentalement irrationnels, nous éprouvons des"
>
	<div>
		<p> Si nous étions rationnels, une bonne expérience se résumerait à design utile et utilisable. Toutefois,
			nous sommes des humains et donc fondamentalement irrationnels, nous éprouvons des émotions et des sentiments
			qui guident nos comportements.</p>
		  <h2>Le design émotionnel c'est quoi ?</h2>
		  <img src="/assets/article-design-emotionnel.webp" loading="lazy"
			alt="schéma du design émotionnel : Pyramide avec en partant du bas fonctionnel, Fiable, Utilisable et en haut le design émotionnel : Agréable" />
		  <p>
			Le design émotionnel c’est donner un aspect Humain, une
			personnalité, aux interfaces homme-machines. Avoir des interfaces utilisables n’est pas suffisant dans une
			démarche de design émotionnel, il faut la rendre agréable. De sorte que l'expérience d'utilisation est
			plaisante.
		  </p>
		  <p class="exergue">
			Don Norman, chercheur en science cognitive décrit l’effet esthétique-utilisabilité ainsi : les choses
			attrayantes fonctionnent mieux.
		  </p>
	
		  <h2>Pourquoi faire du design émotionnel ?</h2>
		  <p>Les expériences émotionnelles nous laissent davantage de souvenir dans notre
			mémoire à long terme. Les émotions positives favoriseront le processus de mémorisation, cela génère de la
			dopamine, ce qui nous motive à aller au bout des actions (acte d'achat, terminer une procédure, etc.) et
			active
			notre circuit de récompense. Nous sommes plus enclins à réitérer l'expérience perçue comme positive. Nous
			sommes davantage attachés à un service ou à un produit.</p>
		  <p>On note selon Don Norman 3 niveaux d'affects interconnectés qui agissent sur nos actions :</p>
		  <img src="/assets/article-design-emotionnel-img-2.webp" loading="lazy"
			alt="schéma des niveaux d'affects du design émotionnel" />
	
		  <h2>Comment faire du design émotionnel ?</h2>
		  <ul>
			<li>
			  <h3>Utiliser une mascotte mignonne</h3>
			  <img src="/assets/article-design-emotionnel-duolingo.webp" loading="lazy"
				alt="mascotte de l'application d’apprentissage de langue Duolingo" />
			  <p>De nombreuses entreprises prennent une mascotte « mignonne » pour
				susciter des émotions aux utilisateurs de leur service comme Duolingo, Waze, Kakao talk.
				Nous sommes programmés pour détecter des émotions sur les visages. Le choix de photos et d’illustrations
				présentant des sujets nous influence fortement et inconsciemment.</p>
			</li>
			<li>
			  <h3>Utiliser l'humour</h3>
			  <img src="/assets/article-design-emotionnel-raclette.webp" loading="lazy"
				alt="capture du site web raclette world" />
			  <p>Le site raclette.world est un calculateur de quantité de raclette, en sois rien d'extra-ordinaire,
				pourtant ce site à vu sont nombre de visite exploser. La raison ? Son ton volontairement décalé et
				humoristique. D'autre entreprises on recours </p>
			</li>
			<li>
			  <h3>Utiliser les codes de votre audience</h3>
			  <img src="/assets/article-design-emotionnel-materiel.webp" loading="lazy"
				alt="capture du site matériel point net" />
			  <p>Voici la page d'un panier vide sur le site e-commerce Materiel.net, le site est orienté joueur de jeux
				vidéo. Le message et l'illustration reprennent les codes du jeu pour inciter les internautes à
				poursuivre leurs achats.</p>
			</li>
			<li>
			  <h3>Utiliser un design singulier</h3>
			  <p>
				Beaucoup de site web se ressemblent, pour susciter l'émotion, n'utiliser d'image de banque d'images ou de
				thème clé en main. Prenez vos propres photos, adoptez un design atypique comme Écosia, Welcome to the
				jungle ou the Verge.
			  </p>
			</li>
		  </ul>
		  <p>
			Pour aller plus loin sur le sujet, vous pouvez consulter l’ouvrage d'Aarron Walter, «Design émotionnel».
		  </p>
	</div>
</LayoutArticle>
