---
import LayoutArticle from "../../layouts/LayoutArticle.astro";
---

<LayoutArticle
	title="Les métiers de la conception numérique"
	metadata="1 juin 2023 · 4 min"
	description="Il y a une décennie, la conception numérique était établie par un webdesigner, un graphiste spécialisé dans la conception web. Depuis, le métier s'est spécialisé et segmenté"
>
<p>
	Il y a une décennie, la conception numérique était établie par un webdesigner, un graphiste
	spécialisé dans la conception web. Depuis, le métier s'est spécialisé et segmenté : UX designer, UI
	designer, UX Researcher, Design System manager, Product design, UX writer. Cette évolution rapide et
	structurée n'est pas toujours claire. Quel sont leurs rôles ? leurs interactions ?
</p>
<h2>Les métiers de l'expérience utilisateurs</h2>
<h3>UX Designer</h3>
<p>C'est le généraliste de la conception. Il réalise des parcours d'usages simples, facilitant, agréables à
	utiliser et répondant aux besoins des utilisateurs. Il effectue des recherches auprès des utilisateurs,
	élabore des prototypes et évalue les interfaces à l'aide d'outil et de tests.
</p>
<h3>UX Writer</h3>
<p>L'UX Writer est en charge de la qualité des textes d'une interface ou d'un parcours. Son rôle est d'élaborer
	des textes, des messages et des microcopies et de les évaluer. Ces objectifs sont de les rendre
	compréhensibles pour les usagers, en 2 mots, clair et concis. Le content designer et un UX Writer avec comme
	mission supplémentaire la stratégie de contenu.</p>
<h3>UX Rechercher</h3>
<p>L'UX Researcher est responsable de la recherche sur l'expérience utilisateur. Leur mission est de collecter
	des informations, de comprendre les comportements des utilisateurs. Il existe 2 types de recherches, les
	quantitatives et les qualitatives. Les recherches quantitatives se reposent sur l'agrégation de nombreuses
	données. Cela peut être des formulaires, des outils analytiques de site web, des A/B tests ou des retours
	utilisateur consignés. Les recherches qualitatives sont celles menées sur un petit nombre d'usagers. Elles
	peuvent prendre plusieurs formes : entretien, observation de terrain, test utilisateur et groupe focus.</p>
<h2>Les métiers du design d'interfaces</h2>
<h3>UI designer</h3>
<p>
	Le spécialiste des interfaces, il connaît sur le bout des doigts les principes d'utilisabilité, notamment
	les heuristiques de Bastien et Scapin. Il a de bonnes notions d'intégration web et mobile pour bien
	travailler avec les développeurs. Son rôle est de concevoir des interfaces visuelles intuitives et
	attrayantes pour les utilisateurs, en travaillant avec les développeurs pour assurer une mise en œuvre
	réussie.
</p>
<h3>Webdesigner</h3>
<p>Le Web Designer est un graphiste spécialisé dans la conception d'éléments visuels pour le support web. Il en
	charge de créer des éléments graphiques tels que bannières, encarts, newsletter pour les sites web. Son
	objectif est d'animer le site web.</p>

<h2>Les métiers étendu du design</h2>
<h3>Facilitation</h3>
<p>Prendre de décision, diriger des réunions sont parfois des éléments complexes. Pour y remédier le
	facilitateur anime des ateliers pour mener à bien les réflexions et le travail collectif.
	Il met en place des méthodologies comme <a href="../le-design-thinking">le design
		thinking</a> et diverse étapes dans une session de travail : idéation, priorisation,
	systématisation.
	Le recours à ces méthodes à de <a href="../comment-gerer-le-jaime-jaime-pas">nombreux
		bénéfices</a>, sur le point politique, une meilleure adoption et adhésion des choix et sur la
	partie projet, davantage de qualité grâce à la coconception.
</p>
<h3>Le Product designer</h3>
<p>
	Le Product Designer porte une vision globale d'un produit. Il est à la fois l'avocat des utilisateurs avec
	sa part d'UX Designer et l'avocat des intérêts économique de l'entreprise. Il est en charge de feuille de
	route de produit et il est incontournable pour toutes les décisions de direction, d'évolution du produit.
</p>
<h3>Service designer</h3>
<p>
	Le Service Designer se concentre sur l’organisation de services, les interactions entre les différents
	services et celle avec les usagers. Son objectif, améliorer la qualité des services, réduire les frictions,
	faire gagner du temps à chacun. Il se dote d'outil de cartographie comme le Service Blue Print et d'activité
	de recherche et d'évaluation.
</p>
<h3>Designer Ops</h3>
<p>Le Designer Ops — Ops pour Opérations et pas pour oups — c'est le référent en charge de l'organisation d'un
	service de design. Il cherche à optimiser les processus et les opérations d'équipes de design. Pour cela, il
	connaît les compétences et Expertise de l'ensemble des designers, pour attribuer les bons projets aux bonnes
	personnes. Il est également référent sur des thématiques pour aider et guider les designers sur les projets.
</p>
<h2></h2>
<p></p>
<img src="/assets/article-metier-schema.webp" alt="">
</LayoutArticle>
