---
import LayoutArticle from "../../layouts/LayoutArticle.astro";
---

<LayoutArticle
	title="UX Writing, écrire pour être compris"
	metadata="8 décembre 2023 · 3 min"
	description="La maîtrise de la présentation est un atout pour mieux communiquer, inspirer, partager. Pour y parvenir, un bon cadrage et quelles règles de mise en page."
>
<p>
	Quand on pense design, on pense interfaces, composants, icônes, mais jamais contenu ! Et pourtant le contenu
	est essentiel dans nos interfaces et dans une expérience utilisateur réussite ! Comment écrire les intitulés
	et les textes d'une interface ?

<h2>C'est quoi L'UX writing ?</h2>
<p>
	C'est la discipline, la profession qui consiste à <b>évaluer, rechercher, écrire et tester</b> les éléments
	textuels des interfaces. Écrire pour être compris, cohérent et rassurer. Il ne faut pas la confondre avec le
	Copywriting. Cette dernière consiste à écrire
	pour convertir, c'est un dérivé du métier de "Conversion Rate Officer", le spécialiste de la conversion des
	utilisateurs en clients pour les sites ecommerces.
</p>
<h2>Le Langage</h2>
<p>Qu’es-ce que le Langage ? Cette questions est essentiel pour bien comprendre la fondation de l'UX Wring. Le
	Language s'encre dans 2 éléments, le réel et le l'interlocuteur. </p>
<p class="exergue">La Langue est une faculté non-iné de communication de mot image.</p>

<ul>
	<li><b>Le référent</b> L'objet ou la chose en lui même</li>
	<li><b>Le signifiant</b> Ça représentation, le son, le mot, le geste</li>
	<li><b>Le signifié</b>Son concept mental</li>
</ul>
<p>
	Mon référent ne varie pas mon signifiant peut-être multiple et dépend de mon locuteur. Un Aole Vera peut
	avoir un signifiant différant en fonction de mon locuteur. Elle peut être "la plante d’intérieur, la plante
	grasse, Aloe Vera ou aloe vera". Cette variation se compose de la langue du locuteur et de son niveau de
	connaissance du sujet.
	Le travail de l'UX Writer c'est de trouver le bon signifiant pour s'adresser au signifié qui existe dans la
	mémoire de l'interlocuteur.
</p>

<h2>Quand recourir à UX Writing</h2>
<p>C'est la problématique du métier, on y a recours souvent trop tard, lorsque les maquettes sont prêtes à
	partir en développement. L'articulation entre le design d'interface et le design textuel doit s'établir en
	même temps. "remplir les blancs" ne peut être un axe pertinent de travail.</p>
<img src="/assets/article-writing-corepage.webp" loading="lazy"
	alt="Model Core page - schéma avec les chemin d'entré, de sortie et les éléments d'une page" />

<p>Le processus de création d'interface et d'écriture de texte débute à l'issue de l'élaboration de l'user flow
	ou du schéma "Core design model page".
	Les 2 designers peuvent s'accorder sur la forme que va prendre une information.</p>


<h2>Positionnement, le ton et la voix</h2>
<p>
	tu/vous, matrice, limites
</p>

<h2>Bonnes pratiques</h2>
<h3>L’écriture conversationnelle</h3>
<h3>Concision</h3>
<p>Limiter les adverbes, que, verbes ternes</p>
<h3>Abréviations, anglicismes et termes complexes
	<h3>Cohérence</h3>
	<p>logements, location, hébergement, produits </p>
	ou métier
</h3>
<h3>Respecter les standards</h3>
<p>Numéro de téléphone</p>
<h3>Limiter conditionnel</h3>
<h3>Formulation mal adroite</h3>
<p>Conjonction de disjonction</p>
<h3>Neutralité dans les zones sensibles</h3>
<p>(argent, santé, vie)</p>
<h3>Écrire les messages d’erreurs</h3>
<p>S'il y a bien un endroit où un texte et crucial, c'est la rédaction des messages d'erreur. Elles font partie
	de certain parcours utilisateur et elle peuvent être source de frustration et d'incompréhension. Pour ne pas
	manquer leurs objectifs, ces messages doivent contenir de manière concise :</p>
<ul class="interval-reduit">
	<li>Ce qu'il s'est passé</li>
	<li>Pourquoi cela s'est passé</li>
	<li>Une solution ou un recours</li>
	<li>Rassurer l'utilisateur</li>
</ul>
<h2>Comment évaluer les écrits</h2>
<h3>Le test de mise en avant</h3>
<p>Plus populaire sous le nom "teste su Stabilo", il consiste à demander aux utilisateurs de surligner tous les
	contenus avec plusieurs feutres :</p>
<ul class="interval-reduit">
	<li><span class="souslignevert">Vert</span> pour ceux qu'ils comprennent très bien</li>
	<li><span class="souslignejaune">Jaune</span> pour ceux qu'ils ne trouvent pas facile à comprendre</li>
	<li><span class="sousligneorange">Orange</span> pour ceux qu'ils ne comprennent pas ou pas bien</li>
	<li><span class="souslignemauve">Mauve</span> pour les parties qui leur font peur ou les bloquent</li>
</ul>
<h3>Les tests automatiques</h3>
<p>Parmi aux figure le test de <a href="https://fr.wikipedia.org/wiki/Tests_de_lisibilit%C3%A9_Flesch-Kincaid"
		target="_blank" rel="nofollow">Flesch Kincaid</a>. Il prend en compte le nombre de mots par phrase et le
	nombre de syllabes par mots. Un outil maison qui permet de tester les mais qui peut aider à simplifier un
	contenu c'est <a href="https://qualitexte.lucaslacroix.com/" target="_blank" rel="nofollow">QualiTexte</a>.
	Annotation des </p>
mettre en forme

La micro copie

Facile à lire et à comprendre </p>
<style>
	.souslignejaune {
		color: #624304;
		background-color: #fff0a5;
		padding: 2px 4px;
		border-radius: 4px;
	}
	
	.sousligneorange {
		color: #442a03;
		background-color: #facfaa;
		padding: 2px 4px;
		border-radius: 4px;
	}
	
	.souslignemauve {
		color: #140546;
		background-color: #cfc3f7;
		padding: 2px 4px;
		border-radius: 4px;
	}
	
	.souslignevert {
		color: #04621b;
		background-color: #bef0de;
		padding: 2px 4px;
		border-radius: 4px;
	}
	</style>
</LayoutArticle>
