---
import LayoutArticle from "../../layouts/LayoutArticle.astro";
---

<LayoutArticle
	title="UX Writing, écrire pour être compris"
	metadata="8 février 2024 · 7 min"
	description="Quand on pense design, on pense interfaces, composants, couleurs et formes mais jamais contenu ! Et pourtant le contenu est essentiel dans nos interfaces et dans une expérience utilisateur réussite !"
>
	<p>
		Quand on pense design, on pense interfaces, composants, couleurs et
		formes mais jamais contenu ! Et pourtant le contenu est essentiel dans
		nos interfaces et dans une expérience utilisateur réussite ! Mais alors,
		comment écrire les intitulés et les textes d'une page ?
	</p>

	<p>
		Avant d'aborder les bonnes pratiques et les méthodes de l'UX Writer,
		nous avons besoins de comprendre le fondamental, la langue.
	</p>

	<h2>Qu'est-ce que le Langage ?</h2>
	<p>
		Une langue est un système de signes (sons, symboles, gestes) structurés
		et partagé par un groupe de personnes pour communiquer. Les langues sont
		infinies et en évolution permanente, des mots, des expressions
		naissent, le sens de certain évolue et d'autres disparaissent. Au sien
		d'une même communauté de langue, il existe d'autres groupes qui
		partagent des prononciations et des groupes mots.
	</p>
	<h2>Comment s'ancre la langue dans notre processus de communication ?</h2>
	<p>
		Ce processus s'articule avec 3 composantes :
		<ul class="interval-reduit">
			<li><b>Le référent</b> : L'objet ou la chose en elle-même</li>
			<li>
				<b>La représentation</b> (ou Le signifiant) : sa prononciation, le
				mot, le geste, sa représentation visuelle (dessin et
				illustration)
			</li>
			<li>
				<b>Le concept mental</b> (ou signifié) : Ce qu'évoque le sujet pour
				une personne.
			</li>
		</ul>
	</p>
	<img
		src="/assets/article-writing-pomme.webp"
		alt="Schéma avec le référent, la représentation et le concept mental"
	/>
	<p>
		Mon référent ne varie pas. <br /> La représentation dépend de ma langue et
		le concept mental est propre au niveau et à l'angle de connaissance du locuteur.
	</p>
	<h3>Identifier les sources d'incompréhension</h3>
	<p>
		En reprenant le schéma du triangle sémiotique, on peut identifier 3 cas
		:
		<ul>
			<li>
				<b>La non-connaissance du référent</b> : Je ne sais pas ce qu'est un
				Litchi. Je n'en ai jamais entendu parler et si on me le présentait
				cela serait pour moi une découverte.
			</li>
			<li>
				<b>L'absence de connaissance de la représentation</b> :
				Je ne sais pas ce qu'est un GSM, pourtant je sais ce qu'est un
				téléphone portable. Les termes que j'associe au référence
				peuvent être : mobile, téléphone, portable, iphone
			</li>
			<li>
				<b>Ne pas connaître le concept mental</b> : Je sais ce qu'est une
				pomme toute fois, j'ignore le sens bibilique de cette dernière.
			</li>
		</ul>
		<p>
			Pour bien communiquer il est essentiel de connaitre son
			interlocuteur. Utiliser ses représentations et expliciter les
			concepte mental et les référents don nos lecteurs n'ont pas la connaissance.
		</p>
		<h2>C'est quoi L'UX writing ?</h2>
		<p>
			C'est la discipline, la profession qui consiste à <b
				>évaluer, rechercher, écrire et tester</b
			> les éléments textuels des interfaces. Écrire pour être compris, être
			cohérent et rassurer.
		</p>
		<p>
			Pour maintenir cette coéhrence d'écritre les équipes de design
			documentent leurs manières d'écrire dans les systèmes de Design. Le
			site
			<a
				href="https://www.uxwritinglibrary.com/inspiration"
				target="_blank">UX Writing Library</a
			> répertorie celles en accès libre.
		</p>

		<h2>Quand recourir à UX Writing</h2>
		<p>
			C'est la problématique du métier, on y a recours souvent trop tard,
			lorsque les maquettes sont prêtes à partir en développement.
			L'articulation entre le design d'interface et le design textuel doit
			s'établir en même temps. "remplir les blancs" ne peut être un axe
			pertinent de travail.
		</p>
		<img
			src="/assets/article-writing-corepage.webp"
			loading="lazy"
			alt="Model Core page - schéma avec les chemin d'entré, de sortie et les éléments d'une page"
		/>

		<p>
			Le processus de création d'interface et d'écriture de texte débute à
			l'issue de l'élaboration de l'user flow (l'enchaienement des
			différents écrans d'une application) ou du schéma "Core design model
			page". Les 2 designers peuvent s'accorder sur les informations et
			leurs formes qu'ils vont prendre sur les pages. La bonne information
			avec au bon format et au bon moment.
		</p>

		<h2>Positionnement, le ton et la voix</h2>
		<p>
			Comment être cohérent sur l'ensemble d'un écosystème, sur les
			courriels, le site web et les différents supports de communication ?<br
			/> Pour être constant, il faut d'abord dresser un système d'écriture :
			Es-ce que nos écrit sont plutôt amicaux ou corporate ? Et a quel niveau...
			<br />
			Pour se positionner sur ce cette identité, Kinneret Yifrah à établie
			6 matrices à un axe :
		</p>
		<img
			src="/assets/article-writing-matrice.webp"
			loading="lazy"
			alt="6 matrices à un axes de positionement de Kinneret Yifrah"
		/>

		<p>
			Le positionement et le ton et la voix se consititue également par
			des règles d'écritures
			<ul class="interval-reduit">
				<li>L'usage du tutoiement ou du vouvoiement</li>
				<li>
					L'appélation des produits ou des interlocuteurs :
					client/utilisateur /usager/ voyageur/influenceurs,
					salarié/collaborateur,
				</li>
				<li>La nomination des produits et services</li>
				<li>Les valeurs de l'entité </li>
			</ul>
		</p>

		<h2>Bonnes pratiques</h2>
		<h3>L’écriture conversationnelle</h3>
		<p>
			C'est le concept clé de l'UX Writing. Cette approche vise à se
			rapprocher au maximum de la manière dont nous parlons. L'objectif,
			être fluide, bien découper nos phrases et adopter une écriture
			facile à comprendre.
		</p>
		<h4>Comment la mettre en pratique ?</h4>
		<p>
			Dictez vos textes et écoutez les. Nos ordinateur sont équipé
			nativement de ces technologie de saissie vocal et de lecteur de
			texte. C'est un bon moyen de se rendre compte de la fuidité de ces
			différents contenus.
		</p>
		<ul class="interval-reduit">
			<li>
				Sur windows pour la saissie vocale <code>touche windows</code> + <code>h</code>
			</li>
			<li>
				Sur Mac pour la saissie vocale <code>control</code> x2
			</li>
			<li>
				Sur Mac pour écouter un texte <code>option</code> + <code>esc</code>
			</li>
		</ul>
		<h3>Concision</h3>
		<p>
			Faire court, c'est prioriser et hyrachiser les informations contenus
			dans les textes. <br />Pour y parvenir, on peut limiter les
			adverbes, les verbes ternes et les proposition subordonnée qui
			favorise les phrases très longues.
		</p>
		<h3>Abréviations, anglicismes et termes complexes ou métier</h3>
		<p></p>
		<h3>Cohérence</h3>
		<p>logements, location, hébergement, produits</p>
		<h3>comprendre en quelques mots</h3>
		<h3>Respecter les standards</h3>
		<p>Numéro de téléphone</p>
		<h3>Limiter conditionnel</h3>
		<h3>Formulation maladroite</h3>
		<p>Conjonction de disjonction</p>
		<h3>Neutralité dans les zones sensibles</h3>
		<p>
			Si votre organisations a une identité de rédaction décalé ou même
			humorisitique elle ne doit pas appliquer se ton et cette voix sur les
			parties relative à
		</p>
		<ul class="interval-reduit">
			<li>L'argent</li>
			<li>La santé</li>
			<li>La vie</li>
		</ul>
		<p>
			Toutes les identité se doivent d'être empatique. Les écris décalé
			peuvent être mal perçu, indigner et blesser votre lecteur sur des
			tématiques sensible. Si vous êtes un asssureurs et que votre
			positionement stratégique s'address aux jeunes ne mettez pas pour autant de
			blague sur votre formualaire de déclaration de sinistre/accident.
		</p>
		<h3>Une mise en forme pour servir le texte</h3>
		<p>
			Une bonne mise en forme aussi c'est simplier la comprention d'un
			texte. Utilise des liste à puces, liste numéroté et des paragraphe pour
			servir aider à identifié le type de contenu présenté.
		</p>
		<h3>Écrire les messages d’erreurs</h3>
		<p>
			S'il y a bien un endroit où un texte et crucial, c'est la rédaction
			des messages d'erreur. Elles font partie de nombreux parcours
			utilisateur et elle peuvent être source de frustration et
			d'incompréhension. Pour ne pas manquer leurs objectifs, ces messages
			doivent contenir de manière concise :
		</p>
		<ul class="interval-reduit">
			<li>Ce qu'il s'est passé</li>
			<li>Rassurer l'utilisateur</li>
			<li>Pourquoi cela s'est passé</li>
			<li>Une solution ou un recours</li>
		</ul>
		<h3>Facile à lire et à comprendre</h3>
		<p>
			C'est le nom que porte cette initiative associative europpénne.
			L'objectif : donner des bonnes paratiques et une métodologie pour
			élaborer des textes à destination des personnes atteinte de
			handicap mentaux.
		</p> 
		<ul class="interval-reduit">
			<li>Utilier des phrases courtes</li>
			<li>Utiliser des mots de la vie de tous les jours</li>
			<li>Illuster les propos avec des images simples</li>
			<li>Tester les textes auprès de la des personnes atteinte de ces handicaps</li>
		</ul>
		<p>
			<a href="https://www.unapei.org/wp-content/uploads/2018/11/L%E2%80%99information-pour-tous-Re%CC%80gles-europe%CC%81ennes-pour-une-information-facile-a%CC%80-lire-et-a%CC%80-comprendre.pdf" target="_blank">Lire la documentation complète</a>
		</p>
		<h2>Comment évaluer les écrits</h2>
		<h3>Le test de mise en avant</h3>
		<p>
			Plus populaire sous le nom "teste su Stabilo", il consiste à
			demander aux utilisateurs de surligner tous les contenus avec
			plusieurs feutres :
		</p>
		<ul class="interval-reduit">
			<li>
				<span class="souslignevert">Vert</span> pour ceux qu'ils comprennent
				très bien
			</li>
			<li>
				<span class="souslignejaune">Jaune</span> pour ceux qu'ils ne trouvent
				pas facile à comprendre
			</li>
			<li>
				<span class="sousligneorange">Orange</span> pour ceux qu'ils ne comprennent
				pas ou pas bien
			</li>
			<li>
				<span class="souslignemauve">Mauve</span> pour les parties qui leur
				font peur ou les bloquent
			</li>
		</ul>
		<h3>Les tests automatiques</h3>
		<p>
			Parmi aux figure le test de Flesch Kincaid. Il prend en compte le
			nombre de mots par phrase et le nombre de syllabes par mots. <a
				href="https://qualitexte.lucaslacroix.com/"
				target="_blank"
				rel="nofollow">QualiTexte</a
			> est un outil maison qui permet de tester et d'obtenir des pistes de simplification
			des textes.
		</p>
	</p>
	<style>
		.souslignejaune {
			color: #624304;
			background-color: #fff0a5;
			padding: 2px 4px;
			border-radius: 4px;
		}

		.sousligneorange {
			color: #442a03;
			background-color: #facfaa;
			padding: 2px 4px;
			border-radius: 4px;
		}

		.souslignemauve {
			color: #140546;
			background-color: #cfc3f7;
			padding: 2px 4px;
			border-radius: 4px;
		}

		.souslignevert {
			color: #04621b;
			background-color: #bef0de;
			padding: 2px 4px;
			border-radius: 4px;
		}
	</style>
</LayoutArticle>
