---
import Layout from '../../layouts/Layout.astro';
import Expertise from '../../components/Expertise.astro';
---

<Layout title="À propos" description="Je suis designer, attiré par la recherche, l’exploration et l'approfondissement de sujets.">
	<div class="fond-sombre">
		<section class="hero-categorie">
			<div class="colonnes">
			  <div class="colonne">
		<h1> <u class="sous-ligne">Présentation</u></h1>
	  </div>
			</div>
		</section>
	</div>
<section>
  <h2>Je suis designer, attiré par la recherche, l’exploration et
	l'approfondissement de sujets.</h2>
</section>
<section>
  <div class="colonnes">
	<div class="colonne">
	  <img src="/assets/Lucas-photo-2021-par-Sarah-c.webp" alt="Photo de Lucas devant une maison en brique à Lille" />
	</div>
	<div class="colonne">
	  <p>
		Enchanté, moi c'est Lucas !<br>
		Curieux, je me suis rapidement intéressé à la création de site web. En 2015 avec Martin, nous avons lancé un
		<a href="../projets/bluecake/">site de recette de
		  cuisine</a>. Cette aventure m'a poussée vers des études dans ce domaine. Mes compétences
		s'étendent du <a href="../articles/le-processus-ui">design d'interface</a> et d'expérience
		utilisateur en passant par <a href="../articles/la-recherche-ux">la recherche UX</a>. À
		la suite de nombreux projets réalisés, je me suis spécialisé sur les problématiques de l'écoconception de
		l'inclusivité, pour créer des produits et des services utiles et utilisables.<br><br>
	  
		J'aime dessiner, apprendre, expérimenter, échanger, partager et explorer de nouvelles choses.
		<br><br>Designer UX UI à maeva, j'élabore des parcours
		utilisateur et des interfaces pour résoudre des problèmes et simplifier la vie des futurs vacanciers.
	  </p><br><br><br>
	  <div class="colonnes">
		<div class="colonne">
		  <h4>Localisation</h4>
		  <p>Paris & Lille, France</p>
		  <br><br><br>
		</div>
		<div class="colonne">
		  <h4>Passion</h4>
		  <p>
			Design graphique
			<br />Semi-marathon
			<br />Dessins
			<br />Pâtisserie
			<br />Cyclisme
			<br />Botanique
		  </p>
		</div>
	  </div>
	</div>
  </div>

  <Expertise />
</section>
</Layout>