---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Services" description="Service de création d'identité visuelle, de maquette web, mobile et de site web centrés sur l'expérience utilisateur">
	<div class="fond-sombre">
		<section class="hero-categorie">
		  <div class="colonnes">
			<div class="colonne">
			  <h1> <u class="sous-ligne">Services</u></h1>
			</div>
			<div class="colonne">
			  <p>Création de site web et d'identité visuelle pour accompagner les PMEs à se développer. Le numérique et le
				design sont des leviers impactants de communication et de développement. </p>
			</div>
		  </div>
		</section>
	  </div>
	  <section class="avantage">
		<article>
		  <h2>Identité visuelle</h2>
		  <p>Création d'identité visuelle pour donner une voix visuelle unique et vous démarquer.</p>
		  <ul>
			<li>Logos et leurs déclinaisons</li>
			<li>Couleurs</li>
			<li>Typographies</li>
			<li>Iconographies</li>
			<li>Éléments graphiques</li>
			<li>Règles d'usages</li>
		  </ul>
		  <h3>En option</h3>
		  <ul class="option">
			<li>Changement de nom</li>
			<li>Gabarit de présentation PPT</li>
			<li>Bannière réseaux sociaux</li>
			<li>Prises de photos</li>
		  </ul>
		  <a class="primaire"
			href=" mailto:bonjour@lucaslacroix.com?subject=Cr%C3%A9ation%20d%27identit%C3%A9%20visuelle&body=Bonjour%20Lucas%2C%20%0A%0AJe%20souhaite%20cr%C3%A9er%20une%20identit%C3%A9%20visuelle...%0A%0AVous%20pouvez%20me%20joindre%20au%20%3A%20">Commander
			une identité visuelle</a>
		</article>
		<article>
		  <h2>Design d'interfaces</h2>
		  <p>Maquettes, prototype et UI kit pour créer des parcours utilisateur efficace et utile</p>
		  <ul>
			<li>Stratégie de conversion (CRO)</li>
			<li>Sous Figma</li>
			<li>Bonnes pratiques en design d'interface</li>
			<li>Bonnes pratiques en ergonomie (Bastien et Scapin)</li>
			<li>Démarche d'accessibilité numérique</li>
			<li>Démarche d'écoconception</li>
  
		  </ul>
		  <h3>En option</h3>
		  <ul class="option">
			<li>Fichiers sources</li>
			<li>Recettage</li>
			<li>Export svg et webp des éléments</li>
		  </ul>
		  <a class="primaire"
			href="mailto:bonjour@lucaslacroix.com?subject=Cr%C3%A9ation%20de%20maquette&body=Bonjour%20Lucas%2C%20%0A%0AJe%20recherche%20des%20maquettes...%0A%0AVous%20pouvez%20me%20joindre%20au%20%3A%20">Commander
			des maquettes</a>
		</article>
		<article>
		  <h2>Site web</h2>
		  <p>Création et refonte de site web sur mesure</p>
		  <ul>
			<li>Design de Haute qualité</li>
			<li>Adapté à tous les écrans</li>
			<li>Référencement essentiel (indexation et Bonnes pratiques)</li>
			<li>Démarche d'accessibilité numérique</li>
			<li>Démarche d'écoconception</li>
			<li>Conforme au RGPD</li>
			<li>Très bonnes performances</li>
		  </ul>
		  <h3>En option</h3>
		  <ul class="option">
			<li>Ajout et configuration d'un outil analytique</li>
			<li>Analyse et amélioration continue sur 3 mois</li>
			<li>Création de plugin et développement spécifique</li>
			<li>Formation à l'utilisation et à la gestion</li>
		  </ul>
		  <a class="primaire"
			href="mailto:bonjour@lucaslacroix.com?subject=Cr%C3%A9ation%20ou%20refonte%20de%20site%20web&body=Bonjour%20Lucas%2C%20%0A%0AJe%20souhaite%20cr%C3%A9er%20un%20site%20web%20...%0A%0AVous%20pouvez%20me%20joindre%20au%20%3A%20">Commander
			un site web</a>
		</article>
	  </section>
</section>
<style>
	.avantage ul {
	  list-style-type: none;
	  margin: 0;
	  margin-top: 6px;
	  margin-bottom: 16px;
	}
	
	.avantage ul li {
	  position: relative;
	  display: flex;
	  align-items: center;
	  margin-bottom: 12px;
	  padding-left: 16px;
	  line-height: 124%;
	}
	
	.avantage ul li::before {
	  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5'%3E%3Cpath style='fill:none' d='M5657.5 81.794h145.419v145.419H5657.5z' transform='translate(-933.72 -13.4993) scale(.16504)'/%3E%3Cpath d='m5661.47 92.937 5.1 5.102 9.96-10.078' style='fill:none;stroke:%232b8266;stroke-width:3.5px' transform='matrix(1 0 0 1 -5657.0119 -81.0002)'/%3E%3C/svg%3E");
	  height: 18px;
	  width: 18px;
	  position: absolute;
	  top: 2px;
	  left: -4px;
	}
	
	.avantage ul.option li::before {
	  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5'%3E%3Cpath style='fill:none' d='M5657.5 81.794h145.419v145.419H5657.5z' transform='translate(-933.71 -13.4993) scale(.16504)'/%3E%3Cpath d='m5666.57 98.039-.02-11.925' style='fill:none;stroke:%23313131;stroke-width:3.27px' transform='translate(-6057.903 -86.631) scale(1.07118)'/%3E%3Cpath d='m5666.57 98.039-.02-11.925' style='fill:none;stroke:%23313131;stroke-width:3.27px' transform='rotate(90.1392 3084.1755 -2966.2838) scale(1.07118)'/%3E%3C/svg%3E");
	}
	
	.avantage {
	  display: flex;
	  flex-direction: row;
	  gap: 12px;
	}
	
	.avantage p {
	  margin-bottom: 16px;
	}
	
	.avantage h2 {
	  margin-top: 0px;
	}
	
	.avantage article {
	  padding: 24px 24px;
	  border-radius: 8px;
	  border: 1px solid var(--ligne-decorative);
	  flex: 1;
	  max-width: 460px;
	}
	
	a.primaire {
	  background-color: var(--primaire-mauve);
	  color: var(--texte-blanc);
	  padding: 12px 16px;
	  border-radius: 8px;
	  margin-top: 16px;
	  width: 100%;
	  display: block;
	  text-align: center;
	  max-width: 400px;
	}
	
	@media (max-width: 1180px) {
	  .avantage {
		flex-wrap: wrap;
	  }
	
	  .avantage article {
		min-width: 400px;
	  }
	}
	
	@media (max-width: 480px) {
	  .avantage {
		flex-direction: column;
	  }
	
	  .avantage article {
		min-width: 100%;
	  }
	}
	</style>
</Layout>