---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Ressources en design graphique et d'interfaces" description="Ressources, site d'inspiration et outils en design graphique et d'interaction.">
	<div class="fond-sombre">
		<section class="hero-categorie">
		  <div class="colonnes">
			<div class="colonne">
			  <h1> <u class="sous-ligne">Ressources</u></h1>
			</div>
			<div class="colonne">
			  <p>Ressources, site d'inspiration et outils en design graphique et d'interaction.</p>
			</div>
		  </div>
		</section>
	  </div>
	  <section class="ressources-titre">
		<h2>Design graphique</h2>
		<div class="ressources">
		<article>
		  <h3>Site d'inspiration visuel</h3>
		  <p>Sites généralistes d'inspiration  </p>
		  <h4>Top</h4>
		  <ul>
			<li><a href="https://dribbble.com/shots" target="_blank" rel="nofollow">Dribbble</a></li>
			<li><a href="https://eyeondesign.aiga.org/" target="_blank" rel="nofollow">Eye on Design</a></li>
			<li><a href="https://worldbranddesign.com/" target="_blank" rel="nofollow">World Brand Design</a></li>
		  </ul>
		  <h4>Honorable</h4>
		  <ul>
			<li><a href="https://www.designweek.co.uk/" target="_blank" rel="nofollow">Design week uk</a></li>
			<li><a href="https://www.behance.net/" target="_blank" rel="nofollow">Behance</a></li>
		  </ul>
		</article>
		<article>
			<h3>Logos</h3>
			<p>Inspiration et documentations sur les logotypes</p>
			<h4>Top</h4>
			<ul>
			  <li><a href="https://www.logggos.club" target="_blank" rel="nofollow">Logggos Club</a></li>
			  <li><a href="https://www.underconsideration.com/brandnew/" target="_blank" rel="nofollow">Underconsideration</a></li>
			  <li><a href="https://worldbranddesign.com/" target="_blank" rel="nofollow">World Brand Design</a></li>
			</ul>
			<h4>Honorable</h4>
			<ul>
			  <li><a href="https://logopond.com" target="_blank" rel="nofollow">Logo Pond</a></li>
			  <li><a href="https://www.logoed.co.uk" target="_blank" rel="nofollow">Logoed</a></li>
			</ul>
		  </article>
		<article>
		  <h3>Data visualisation</h3>
		  <p>Inspiration de représentation visuelle de données</p>
		  <h4>Top</h4>
		  <ul>
			<li><a href="https://datavizproject.com/" target="_blank" rel="nofollow">Dataviz Project - Trouver les bonnes représentations</a></li>
			<li><a href="https://www.visualcapitalist.com/" target="_blank" rel="nofollow">Visual Capitalist - S'inspirer</a></li>
		  </ul>
		</article>
		<article>
			<h3>Typographie</h3>
			<p>Inspiration de typographie</p>
			<h4>Top</h4>
			<ul>
			  <li><a href="https://fontsinuse.com/" target="_blank" rel="nofollow">Font In Use - Inspiration</a></li>
			  <li><a href="https://fontjoy.com/" target="_blank" rel="nofollow">Font Joy - Compositions de paires</a></li>
			  <li><a href="https://www.poussetafonte.com/" target="_blank" rel="nofollow">Pouse ta fonte - Aquisitions de police</a></li>
			  <li><a href="https://fonts.google.com/" target="_blank" rel="nofollow">Google font - Aquisitions de police</a></li>

			</ul>
			<h4>Honorable</h4>
			<ul>
				<li><a href="https://www.typewolf.com/" target="_blank" rel="nofollow">Type wolf</a></li>
			</ul>
		  </article>
		  <article>
			<h3>Couleurs</h3>
			<p>Outils et inspirations de palette de couleurs</p>
			<h4>Top</h4>
			<ul>
			  <li><a href="https://coolors.co/" target="_blank" rel="nofollow">Coolors - Générateur de palette</a></li>
			  <li><a href="https://colorhunt.co/" target="_blank" rel="nofollow">Color Hunt - Explorer des palettes</a></li>
			</ul>
			<h4>Honorable</h4>
			<ul>
				<li><a href="https://colorable.jxnblk.com" target="_blank" rel="nofollow">Colorable - Paires de couleur</a></li>
				<li><a href="https://picular.co/" target="_blank" rel="nofollow">Pictular - Recherche de couleur sur un terme donné</a></li>
				<li><a href="https://htmlcolorcodes.com/fr/" target="_blank" rel="nofollow">Html Color Codes - Générateur de couleur</a></li>		
			</ul>
		  </article>
		  <article>
			<h3>Réaliser</h3>
			<p>Outils de conception graphique</p>
			<h4>Top</h4>
			<ul>
			  <li><a href="https://affinity.serif.com/fr/" target="_blank" rel="nofollow">Affinity Serif - Vectoriel, Photo, Mise en page</a></li>
			  <li><a href="https://procreate.com/" target="_blank" rel="nofollow">Procreate - Créer des illustrations</a></li>
			</ul>
			<h4>Honorable</h4>
			<ul>
				<li><a href="https://www.adobe.com/fr/creativecloud.html" target="_blank" rel="nofollow">Adobe Creative - Vectoriel, Photo, Mise en page, Video</a></li>
				<li><a href="https://www.canva.com/fr_fr/" target="_blank" rel="nofollow">Canva - Réalisation facile en ligne</a></li>
				<li><a href="https://fontforge.org/en-US/" target="_blank" rel="nofollow">Font Forge - Créer des typographie</a></li>
			</ul>
		  </article>
		  <article>
			<h3>Ressources</h3>
			<p>Icônes, photos et illustrations pour habiller les réalisations</p>
			<h4>Top</h4>
			<ul>
			  <li><a href="https://unsplash.com/" target="_blank" rel="nofollow">Unsplash - Banque d'image libre de droit</a></li>
			  <li><a href="https://icons.getbootstrap.com/" target="_blank" rel="nofollow">Bootstrap icon - Bibliothèque d'icones</a></li>
			  <li><a href="https://iconoir.com/" target="_blank" rel="nofollow">Iconoir - Bibliothèque d'icones</a></li>
			  <li><a href="https://fonts.google.com/" target="_blank" rel="nofollow">Google font - Catalogue de police</a></li>

			</ul>
			
		  </article>
		</div>
		<h2>Design d'interface et d'expérience</h2>
		<div class="ressources">
			<article>
				<h3>Design beau site</h3>
				<p>Les "Beaux site" correspondent à des sites dont l'objet premier n'est pas l'information ou la vente, mais le site en lui-même. Ils se distinguent par des animations et des visuels très travaillés</p>
				<h4>Top</h4>
				<ul>
				  <li><a href="https://www.awwwards.com/" target="_blank" rel="nofollow">Awwards</a></li>
				  <li><a href="https://www.cssdesignawards.com/" target="_blank" rel="nofollow">Css Design Awards</a></li>
				</ul>
				<h4>Honorable</h4>
				<ul>
					<li><a href="https://godly.website/" target="_blank" rel="nofollow">Godly</a></li>
					<li><a href="https://www.siteinspire.com/" target="_blank" rel="nofollow">Site inspire</a></li>
					<li><a href="https://fontforge.org/en-US/" target="_blank" rel="nofollow">Font Forge - Créer des typographies</a></li>
				</ul>
			  </article>
			  <article>
				<h3>Inspiration page d'atterrissage</h3>
				<p>Les pages d'atterrissage ou "landing page" en anglais ont pour objectif de convertir l'utilisateur qui la parcourt</p>
				<h4>Top</h4>
				<ul>
				  <li><a href="https://www.landing.love/" target="_blank" rel="nofollow">Landing Love</a></li>
				</ul>
				<h4>Honorable</h4>
				<ul>
					<li><a href="https://pagecollective.com/" target="_blank" rel="nofollow">Page collective</a></li>
					</ul>
			  </article>
		</div>
		<h2>Template ux design</h2>
		- core page
		- persona
		- product design
		- checkliste
		- Cadrage
		
	  </section>
</section>
<style>
	.ressources ul {
	  list-style-type: none;
	  margin: 0;
	  margin-top: 6px;
	  margin-bottom: 16px;
	}

	.ressources article {
		min-width:460px;
	}
	
	.ressources ul li {
	  position: relative;
	  display: flex;
	  align-items: center;
	  margin-bottom: 12px;
	  line-height: 124%;
	}
	
	.ressources {
	  display: flex;
	  flex-direction: row;
	  gap: 12px;
	  flex-wrap:wrap;
	}
	
	.ressources p {
	  margin-bottom: 16px;
	}
	
	.ressources h3 {
	  margin-top: 0px;
	}
	
	.ressources article {
	  padding: 24px 24px;
	  border-radius: 8px;
	  border: 1px solid var(--ligne-decorative);
	  flex: 1;
	  max-width: 600px;
	  width:100%;
	}

	.ressources-titre h2 {
		margin-bottom: 14px;
	}
	
	@media (max-width: 1180px) {
	  .ressources {
		flex-wrap: wrap;
	  }
	
	  .ressources article {
		min-width: 400px;
	  }
	}
	
	@media (max-width: 480px) {
	  .ressources {
		flex-direction: column;
	  }
	
	  .ressources article {
		min-width: 100%;
	  }
	}
	</style>
</Layout>