---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="À propos" description="Qu'il s'agisse d'un site web, d'une mise page ou d'une illustration, tout par d'un coup de crayon. On construit, déconstruit, pour créer, représenter, transmettre une idée, une information. ">
	<div class="fond-sombre">
		<section class="hero-categorie">
			<div class="colonnes">
				<div class="colonne">
					<h1> <u class="sous-ligne">Projets</u></h1>
				</div>
				<div class="colonne">
					<p> Qu'il s'agisse d'un site web, d'une mise page ou d'une illustration, tout par d'un coup de
						crayon. On construit, déconstruit, pour créer, représenter, transmettre une idée, une
						information. </p>
				</div>
			</div>
		</section>
	</div>
	<section class="carte-verticale">
		<a href="./happy-dreche">
			<img src="/assets/projet-happydreche.svg" loading="lazy" alt="" />
			<div>
				<h3>Happy Drêche</h3>
				<p>
					Maquette et site Wordpress pour une association éco-responsable
				</p>
			</div>
		</a>
		<a href="./un-musee-a-soi">
			<img src="/assets/projet-unmuseeasoi.svg" loading="lazy" alt="" />
			<div>
				<h3>Un Musée à Soi</h3>
				<p>
					Web-exposition sur le féminisme. Commandité par la ville de Tournai </p>
			</div>
		</a>
		<a href="./le-fossile-magique/">
			<img src="/assets/projet-lefossilemagique.svg" loading="lazy" alt="" />
			<div>
				<h3>Le Fossile Magique</h3>
				<p>
					Le serious game de la Galerie de Paléontologie de Paris
				</p>
			</div>
		</a>
		<a href="./vmrr/">
			<img src="/assets/projet-vmrr.svg" loading="lazy" alt="" />
			<div>
				<h3>Musée Virtuel de la Révolution</h3>
				<p>
					Site narratif qui retrace la Révolution Roumaine de 1989, 30 ans
					après les événements.
				</p>
			</div>
		</a>
		<a href="./noiseless">
			<img src="/assets/projet-noiseless.svg" loading="lazy" alt="" />
			<div>
				<h3>NoiseLess</h3>
				<p>
					Site promotionnel du groupe de rock NoiseLess crée pour la sortie
					de leur premier album "Beautiful Ghost"
				</p>
			</div>
		</a>
		<a href="./ressources">
			<img src="/assets/projet-ressources.svg" loading="lazy" alt="" />
			<div>
				<h3>Ressources DGI</h3>
				<p>Site des Ressources en design graphique et d'interaction regroupant des outils,
					ressources et site
					d'inspiration et de documentation</p>
			</div>
		</a>
		<a href="./typographie">
			<img src="/assets/projet-fonts.svg" loading="lazy" alt="" />
			<div>
				<h3>Polices de caractère</h3>
				<p>
					La construction d'une typo est un long est minutieux processus.
					Décider du style de la police, penser son usage, dessiner les
					nombreux Glyphes
				</p>
			</div>
		</a>
		<a href="./le-poireauteur">
			<img src="/assets/projet-poireauteur.svg" loading="lazy" alt="" />
			<div>
				<h3>Le Poireauteur</h3>
				<p>
					Application de divertissement élaborée lors du Master DGI.
				</p>
			</div>
		</a>
		<a href="./bluecake/">
			<img src="/assets/bluecake.svg" loading="lazy" alt="" />
			<div>
				<h3>BlueCake</h3>
				<p>
					Site de recette de cuisine, conçu pour vous aider à réaliser vos
					plats préférés
				</p>
			</div>
		</a>
	</section>
</Layout>