---
import LayoutProjet from "../../layouts/LayoutProjet.astro";
---

<LayoutProjet
	title="Le Poireauteur"
	description=" Le Poireauteur vous propose de poireauter utile ! Il met profit ces moments d'attente"
>
<div class="fond-sombre">
	<section class="hero-article">
		<h1>Le Poireauteur </h1>
		<div class="colonnes">
			<div class="colonne">
				<div class="titre-projet">Contexte</div>
				Projet de Master 1 à l'UPHF<br>
				février 2021 à avril 2021
			</div>
			<div class="colonne">
				<div class="titre-projet">Équipe</div>
				<a href="https://fedou-eleonore.netlify.app/" target="_blank">Éléonore Fédou</a>,<br>
				<a href="https://www.behance.net/VianneyChantry" target="_blank">Vianney Chantry</a>,<br>
				<a href="https://selenagruber.netlify.app/" target="_blank">Selena Gruber</a>
			</div>
			<div class="colonne">
				<div class="titre-projet">typologie de projet</div>
				Idéation, design graphique, UI design
			</div>
			<div class="colonne">

			</div>
		</div>
	</section>
</div>
<section class="conteneur-article">
	<p>Avez-vous déjà connu une nette sensation d'ennui lorsque vous étiez dans une file d'attente ?
		Vous en avez marre de perdre votre temps sur les réseaux sociaux ? Le Poireauteur vous propose
		de poireauter utile ! Il met profit ces moments d'attente et d'ennui en vous faisant découvrir
		un contenu artistique et culturel, qui vous sortira de votre zone de confort.
		Gratuite, rapide et sans compte, sentez-vous libre d'utiliser notre application comme bon vous
		semble ! Notre but n'est pas que vous perdiez votre temps sur notre application, mais plutôt que
		vous l'optimisiez !</p>
	<p>
		Grâce au Poireauteur, vous allez étendre votre culture. Les contenus proposés sont courts (1-5
		min). De plus, le principe d'aléatoire permet de découvrir des propos dont vous n'avez pas
		l'habitude. Cela vous permet de sortir de votre zone de confort et, peut-être, vous découvrirez
		une nouvelle passion.</p>
	<p class="exergue">Notre application vous permet de découvrir des artistes, des œuvres et des
		lieux culturels.</p>
	<p> Chaque page contient un onglet permettant d'en savoir plus sur le
		sujet abordé. L'application ne se limite pas aux informations concises, elle vous emmène également
		sur de la documentation
		approfondie.


		Vous accompagnez lors de vos temps d'attente est la priorité du Poireauteur. Le contenu proposé
		est donc adapté chaque situation. C'est pourquoi nous proposons 3 catégories : visuelles,
		auditif et textuel, qui peuvent se cumuler. Le Poireauteur est alors une application simple et
		accessible permettant une forme d'accès ô la culture. Elle vous permet de rester ouverts
		d'esprit en tirant avantage de vos temps d'ennui, d'attente.</p>
	<h2>Idéation</h2>
	<p>
		Nous avons réalisé des exercices d'idéations sur le sujet des applications de divertissements.
		Un élément remarqué lors de notre veille sur l'état de l'existant était le caractère
		non-informatif et culturel des applications comme Tiktok, IG TV ou 9GAG. Nous avons pris un
		positionnement aux antipodes des applications de l'économie de l'attention. Nous avons choisi de
		concevoir une application de divertissements culturels et enrichissant pour des temps d'attente
		quotidiens comme les files d'attente ou les transports en commun.
	</p>
	<img src="/assets/ideation-p.webp" alt="4 wireframes dessiné lord d'une session d'idéation" />
	<p>
		Les wireframes, on était conçu avec la méthode 6 to 1. Elle nous a permis, de présenter les
		idées de chacun et chacune en adéquation avec les besoins d'usages. Le sketch 2 a été retenu
		pour sa proportion à aller à l'essentiel en présentant les filtres de format de contenu (vidéo,
		texte, audio). Ce critère a été jugé le plus pertinent, il permet à l'utilisateur de
		sélectionner les formats qu'il peut consulter facilement en fonction de son environnement
		(bruyant, s'il a des écouteurs, s'il ne peut pas lire).
	</p>
	<h2>Vidéo de promotion</h2>
	<div class="container">
		<iframe loading="lazy" class="video" width="720" height="405"
			src="https://www.youtube-nocookie.com/embed/N7z5ijqThN8" title="YouTube video player" frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen></iframe>
	</div>
	<h2>Identité visuelle</h2>
	<img src="/assets/idv-poireauteur.webp" loading="lazy" alt="identité visuelle du Poireauteur" />
</section>
</LayoutProjet>
