---
import LayoutProjet from "../../layouts/LayoutProjet.astro";
---

<LayoutProjet
	title="Ressources en design"
	description="Elles sont nombreuses, variées, et souvent peu connues par les professionnels du design. Le site Ressources en Design graphique et d’interaction a pour but de les regrouper."
>
<div class="fond-sombre">
	<section class="hero-article">
	  <h1>Ressources en design</h1>
  <div class="colonnes">
	<div class="colonne">
	  <div class="titre-projet">Contexte</div>
	  Projet libre et contributif<br>
	</div>
	<div class="colonne">
	  <div class="titre-projet">Années</div>
	  2021 à ce jour
	</div>
	<div class="colonne">
	  <div class="titre-projet">État</div>
	  Maintenu
	</div>
	<div class="colonne">
	  <a href="https://ressources.lucaslacroix.com" class="lienapp" target="_blank">Voir les le site des
		ressources</a>
	</div>
  </div>
	</section>
  </div>
  <section class="conteneur-article">
<p>Elles sont nombreuses, variées, et souvent peu connues par les professionnels du design. Le site Ressources en
  Design graphique et d’interaction a pour but de les regrouper. Le projet et en <a
	href="https://github.com/lucaslacr/Ressources" target="_blank">open source sur Github</a> et ouvert
  aux contributions. </p>
<p>Initié dans le cadre universitaire du master création numérique de l'UPHF par <a
	href="https://melissa-coevoet.fr/" target="_blank">Mélissa Coevoet</a>. Le projet est repris et numérisé en 2021 avec <a
	href="https://fr.linkedin.com/in/s%C3%A9l%C3%A9na-gruber-58b669159" target="_blank">Séléna
	Gruber</a> et <a href="https://fr.linkedin.com/in/mariannedagand" target="_blank">Marianne Dagand</a>. À ce jour, le
  projet compte plus de 260 ressources qualifiées.</p>
<h2>Catégories</h2>
<ul>
  <li><b>Design graphique</b><br>Explorez une multitude d'ouvrages, de sites d’inspiration, de communautés en ligne, de banques d'images, d’icônes, de typographies, de générateurs de palettes et de portfolios.</li>
  <li><b>Design UX UI</b><br>Plongez dans nos documentations, outils, vidéos et podcasts dédiés au design UX UI pour créer des expériences utilisateur exceptionnelles.</li>
  <li><b>Gestion de projet</b><br>Trouvez des ressources pour améliorer la gestion de vos projets de design, y compris des documentations et des outils de pointe.</li>
  <li><b>Web</b><br>Explorez notre sélection de librairies javascript, CMS, frameworks, ouvrages, outils d'analyses et compressions pour l'intégration et le développement web</li>
  <li><b>Multimédias</b><br>Découvrez des ouvrages, logiciels et autres ressources pour approfondir vos compétences en conception multimédia.</li>
</ul>
<img src="/assets/capture-decran-ressources-design.webp" alt="Capture d'écran du site de ressources en design"/>
</section>
</LayoutProjet>
