---
import LayoutProjet from "../../layouts/LayoutProjet.astro";
---

<LayoutProjet
	title="Un Musée à Soi"
	description="Un Musée à Soi, et une exposition sur le féminisme. Elle aborde les thèmes du genre, de l'histoire des luttes féministes, de la sexualité et présente des femmes emblématiques liées à la ville de Tournai"
>
<div class="fond-sombre">
	<section class="hero-article">
	  <h1>Un Musée à Soi</h1>
	  <div class="colonnes">
		<div class="colonne">
		  <div class="titre-projet">Contexte</div>
		  Contrat freelance : Création d'une web-expo
		</div>
		<div class="colonne">
		  <div class="titre-projet">Période</div>
		  Novembre 2020 à août 2021
		</div>
		<div class="colonne">

		</div>
		<div class="colonne">
		  <a href="https://unmuseeasoi.org/" class="lienapp" target="_blank">Visiter la web-expo</a>
		</div>
	  </div>
	</section>
  </div>
  <section class="conteneur-article">
	<p>Un Musée à Soi, et une exposition sur le féminisme. Elle aborde les thèmes du genre, de l'histoire des
	  luttes féministes, de la sexualité et présente des femmes emblématiques liées à la ville de Tournai.<br><br>
	  Cette exposition a été commanditée par la ville de Tournai auprès du master de muséographie d'Arras. La
	  production a été assurée par 4 muséographes, une illustratrice et un UI UX Designer et développeur. Nous
	  avions comme objectif de réaliser une exposition numérique pour remplacer celle qui était prévue dans le
	  musée de la ville en raison des conditions liées au COVID.
	</p>

	<h2>La demande</h2>
	<p>
	  Les muséographes avaient établi des recherches et avaient structuré leurs propos dans un document sur lequel
	  il était important d'apporter de la forme, de l'interactivité et des d'éprouvés ses contenus par des tests
	  utilisateurs pour vérifier leur compréhensibilité et ainsi que la pertinence des interactions liées à ce
	  contenu.
	  <br>Mon rôle a été de :
	<ul>
	  <li>
		Accompagner la conception de la web-expo
	  </li>
	  <li>
		Concevoir le design d'interface
	  </li>
	  <li>
		Concevoir les éléments interactifs
	  </li>
	  <li>
		Participer à la gestion de projet numérique
	  </li>
	  <li>
		Mener des tests utilisateurs
	  </li>
	</ul>
	</p>
	<h2>Maquettes</h2>
	<img src="~assets/umas-maquette.webp" loading="lazy" alt="Maquette du site Un musée à Soi" />
	<p>De nombreux wireframes et de maquettes ont été réalisées pour mettre en forme et en valeur les
	  contenus rédigés par les muséographes. On note de nombreux éléments interactifs dans ce type de maquette,
	  car la web-exposition se veut être créative et à sortir des codes des sites web institutionnels. On
	  peut noter des cartels, des portes qui s'ouvrent, de nombreux audios pour simplifier la lecture ou encore
	  une frise chronologique pour mettre en valeur les dates majeures des combats féministes en Belgique.
	  <br>Avec le recul que j'ai sur ce projet, je trouve qu'il manque une partie gamification qui permettrait de
	  maintenir davantage l'attention et l'engagement des lecteurs jusqu'au bout de l'œuvre.
	</p>
  </section>
</LayoutProjet>
