---
import LayoutProjet from "../../layouts/LayoutProjet.astro";
---

<LayoutProjet
	title="Virtual Museum of Romanian Revolution"
	description="«Virtual Museum of Romanian Revolution» est un musée numérique qui porte sur la Révolution Roumaine."
>
<div class="fond-sombre">
	<section class="hero-article">
		<h1>Virtual Museum of <br>Romanian Revolution</h1>
		<div class="colonnes">
			<div class="colonne">
				<div class="titre-projet">Contexte</div>
				Projet d'étude<br> Juin 2019
			</div>

			<div class="colonne">
				<div class="titre-projet">Technologie Utilisé</div>
				Adobe XD, Html, Css, Js
			</div>
			<div class="colonne">
				<div class="titre-projet">Année</div>
				Juin 2019
			</div>
			<div class="colonne">
				<a href="https://vmrr.lucaslacroix.com" class="lienapp" target="_blank">Voir le musée
					numérique</a>
			</div>

			<div class="colonne">
			</div>
		</div>
	</section>
</div>
<section class="conteneur-article">
	<p>«Virtual Museum of Romanian Revolution» est un musée numérique qui porte sur la Révolution
		Roumaine. Le projet a été réalisé dans le cadre d'un projet d'étude à Timisoara. C'est dans
		cette ville de l'ouest de la Roumaine qu'a commencé ce qui est devenue la Révolution Roumaine de
		1989. Le musée numérique à un angle histoire, factuel et vulgarisateur.
	</p>
	<img src="/assets/vmrr-app.webp" loading="lazy" alt="Capture d'écran du musée numérique" />
</section>
</LayoutProjet>
